<template>
  <div class="employee-list">
    <ConfirmModal ref="confirmModal"
                  :message="modalMessage"
                  @confirm="triggerConfirmModal"
                  v-model="showModal"
                  confirm-variant="danger">
    </ConfirmModal>
    <b-icon icon="arrow-left"
            class="h3 back-arrow pointer-cursor"
            title="Go back"
            @click="triggerCancel">
    </b-icon>
    <h1>Employees</h1>
    <div class="text-left employee-action">
      <div class="text-center">
        <AppSearchSelector :searchFields="searchFields"
                           :defaultSearchType="defaultSearchType"
                           @search="getRelatedPermitsQuery">
        </AppSearchSelector>
      </div>
      <div>
        <b-button variant="secondary" size="sm" @click="triggerAddEmployee" v-if="!justInspector">
          Add Employee
        </b-button>
      </div>
    </div>
    <div class="app-table">
      <div class="text-left table-header-action" v-if="selectedEmployees.length">
        <b-form-checkbox v-model="selectAll" @change="triggerSelectAll">
        </b-form-checkbox>
        <div class="table-header-right-action">
          <div @click="triggerDelete"
               title="Delete employee where status is just pending">
            <b-icon icon="trash" class="pointer-cursor"></b-icon>
            <span>Delete</span>
          </div>
          <div title="Health Card Printing (works only for status=approved)" @click="triggerPrint">
            <b-icon icon="printer" class="pointer-cursor"></b-icon>
            <span>Print</span>
          </div>
        </div>
      </div>
      <b-table
          ref="employeeTable"
          hover
          :thead-class="{'table-header': true, 'hide-table-header': selectedEmployees.length}"
          :busy.sync="tableIsBusy"
          sticky-header
          show-empty
          :items="relatedPermits.results"
          :fields="relatedPermitFields">
        <template #cell(permit_number)="row">
          <a @click="triggerUpdate(row.item.id)" style="color: #007bff" class="pointer-cursor">
            {{ row.item.permit_number }}
          </a>
        </template>
        <template #cell(action)="row">
          <b-form-checkbox v-model="relatedPermits.results[row.index].selected">
          </b-form-checkbox>
        </template>
        <template #head(action)>
          <b-form-checkbox v-model="selectAll" @change="triggerSelectAll"></b-form-checkbox>
        </template>
        <template #table-busy>
          <div class="text-center text-success my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>
      </b-table>

      <b-pagination v-model="currentPage"
                    @change="triggerPaginate"
                    align="center"
                    class="permits-pagination"
                    :total-rows="relatedPermits.count"
                    :per-page="pageSize"
                    aria-controls="my-table">
      </b-pagination>
    </div>
  </div>
</template>

<script>
import {postPermitQry, getPermitsQry, deletePermitQry, postPrintPermitsQry} from "@/services/permits.service";
import {mapActions, mapGetters} from "vuex";
import ConfirmModal from "@/components/ConfirmModal";
import moment from "moment";
import AppSearchSelector from "@/components/AppSearchSelector";
import {PERMIT_STATUSES} from "@/helpers/constant.helpers";
import printJS from 'print-js'


export default {
  name: "Employees",
  data() {
    return {
      modalMessage: "",
      showModal: false,
      tableIsBusy: false,
      relatedPermits: {
        count: 0,
        next: null,
        previous: null,
        results: []
      },
      defaultSearchType: "permit_number",
      searchFields: [
        {label: "Application #", value: "permit_number"},
        {label: "Name", value: "employee_name"},
        {label: "Email", value: "employee_email"},
        {
          label: "Status",
          value: "status",
          type: "select",
          choices: PERMIT_STATUSES,
          props: {
            multiple: true,
            "label": "text",
            'trackBy': "value",
            preserveSearch: true
          },
        },
      ],

      rowSelected: [],
      pageSize: 100,
      currentPage: 1,
      selectAll: false,

      relatedPermitFields: [
        {
          key: "action",
          label: "#",
          tdClass: "related-permit-action",
        },
        {
          key: "permit_number",
          label: "Application #",
          tdClass: "employee-permit-number",
        },
        {
          key: "name",
          label: "Name",
          formatter: (value, key, item) => {
            return item.applicant.full_name
          }
        },
        {
          key: "email",
          label: "Email",
          formatter: (value, key, item) => {
            return item.applicant.email
          }
        },
        {
          key: "contact_number",
          label: "Contact Number",
          formatter: (value, key, item) => {
            return item.applicant.contact_number
          }
        },
        {
          key: "sex",
          label: "Gender",
          formatter: (value, key, item) => {
            return item.applicant.sex
          }
        },
        {
          key: "status",
          label: "Status",
        },
        {
          key: "created",
          label: "Created At",
          tdClass: "employee-created-date",
          formatter: (value, key, item) => {
            return moment(item.created).format('MM/DD/YYYY, h:mm a');
          }
        },
      ],
    }
  },
  methods: {
    ...mapActions('app', ['setAlert']),
    triggerSelectAll(selected) {
      this.relatedPermits.results = this.relatedPermits.results.map(item => {
        item.selected = selected;
        return item;
      });
    },

    async triggerConfirmModal() {
      this.tableIsBusy = true;
      const deletePromises = this.selectedEmployees.filter(item => item.status === 'pending').map(item => {
        return deletePermitQry(item.id)
      })
      await Promise.all(deletePromises);
      this.setAlert({message: "Successfully deleted selected items", type: "success"})
      this.$refs['confirmModal'].setLoading(false);
      this.showModal = false;
      await this.getRelatedPermitsQuery();
      this.selectAll = false;
      this.tableIsBusy = false;
    },

    triggerDelete() {
      const getSelectedEmployees = this.selectedEmployees.filter(item => item.status === 'pending');

      if (getSelectedEmployees.length) {
        this.showModal = true;
        this.modalMessage = `Are you sure you want to delete the ${getSelectedEmployees.length} selection?`;
      } else {
        this.setAlert({message: "You can only delete an employee with pending status", type: "danger"})
      }

    },

    triggerUpdate(id) {
      let getId = id;

      if (!getId) {
        const getSelected = this.relatedPermits.results.find(item => item.selected);
        getId = getSelected ? getSelected.id : null;
      }

      this.$router.push({
        name: "health-clearance-detail",
        params: {id: getId},
        query: {permit: this.$route.params.id, business: this.$route.query.business, "from": "employees"}
      })
    },

    triggerAddEmployee() {
      const route = this.$route;
      this.$router.push({
        name: "health-clearance-apply",
        query: {permit: route.params.id, business: route.query.business, "from": "employees"}
      })
    },

    triggerSelect() {
      if (this.rowSelected.length) {
        const data = {
          applicants: this.rowSelected.map(item => item.id),
          related_permit: this.$route.params.id,
          permit_type: "health-clearance"
        }
        this.tableIsBusy = true;
        postPermitQry(data)
            .then(() => {
              this.triggerCancel()
              this.tableIsBusy = false
            })
            .catch(() => {
              this.setAlert({
                    message: "Unexpected error, please try again in later.",
                    type: "danger"
                  }
              )
            })
      }
    },

    getRelatedPermitsQuery(params) {
      const queryParams = {
        ...params,
        page_size: this.pageSize,
        related_permit: this.$route.params.id,
        permit_type: "health-clearance"
      }
      this.tableIsBusy = true;

      getPermitsQry(queryParams)
          .then(res => {
            this.relatedPermits = res.data;
            this.tableIsBusy = false;
          })
          .catch(err => {
            this.tableIsBusy = false;
            const error = err.response;
            this.setAlert({message: error.response.data, type: "danger"});
          })
    },

    triggerCancel() {
      this.$router.push({name: 'sanitary-permit-detail'})
    },

    triggerPaginate(page) {
      this.getRelatedPermitsQuery({page})
    },

    async triggerPrint() {
      const selectedData = this.relatedPermits.results.filter(item => item.selected).map(item => item.id)

      await postPrintPermitsQry({"ids": selectedData, "print_type": "health-clearance"}, {
        responseType: "arraybuffer"
      }).then(response => {
        const blob = new Blob([response.data], {type: "application/pdf"});
        const blobUrl = URL.createObjectURL(blob);
        printJS(blobUrl)
      })
    }
  },
  computed: {
    ...mapGetters("user", ["justInspector"]),
    selectedEmployees() {
      return this.relatedPermits.results.map((item, idx) => ({...item, idx})).filter(item => item.selected)
    }
  },
  created() {
    this.getRelatedPermitsQuery()
  },
  components: {
    ConfirmModal,
    AppSearchSelector
  }
}
</script>

<style lang="scss">
.employee-list {
  padding: 24px;
  position: relative;


  .employee-permit-number {
    width: 200px;
  }

  .employee-created-date {
    width: 180px;
  }

  .related-permit-action {
    width: 80px;
  }

  .back-arrow {
    position: absolute;
    left: 10px;
  }

  .select-all {
    margin-bottom: 10px;
  }

  .employee-action {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    margin-bottom: 20px;
  }

  .checkbox-select {
    width: 80px;
  }
}

</style>
