<template>
  <div class="sanitary-permit-form">
    <ConfirmModal ref="confirmModal"
                  :message="confirmMessage"
                  :show-cancel="!processedStatus"
                  :show-confirm="!processedStatus"
                  @confirm="triggerConfirmModal"
                  v-model="showModal"
                  :confirm-variant="confirmVariant">
      <b-form class="form-group permit-status-modal" v-if="processedStatus">
        <b-row>
          <b-col xs="12" md="12">
            <label>Status:</label>
            <b-form-select v-model="currentStatus" :options="permitStatuses"></b-form-select>
          </b-col>
          <b-col xs="12" md="12">
            <label>Remarks:</label>
            <b-form-textarea
                id="textarea"
                v-model="remarks"
                placeholder="Enter something..."
                rows="3"
                max-rows="6">
            </b-form-textarea>
          </b-col>
          <b-col v-if="currentStatus === 'processing'" xs="12" md="12">
            <label>Inspector</label>
            <b-form-select v-model="selectedInspector" :options="inspectors" value-field="id" text-field="full_name">
            </b-form-select>
          </b-col>
          <!-- TODO (jaceroldan16@gmail.com): Need to add datepicker for scheduling a meet -->
          <b-col v-if="currentStatus === 'processing'" xs="12" md="12">
            <label>Deadline</label>
            <b-form-datepicker
                id="schedule-datepicker"
                v-model="deadline"
            ></b-form-datepicker>
          </b-col>
          <b-col xs="12" md="12">
            <div class="permit-status-action text-center">
              <b-button variant="success" @click="triggerSubmit({status: currentStatus})">
                Submit
              </b-button>
              <b-button variant="warning" @click="showModal = false">Cancel</b-button>
            </div>
          </b-col>
        </b-row>
      </b-form>
    </ConfirmModal>

    <b-icon icon="arrow-left"
            class="h3 back-arrow pointer-cursor"
            title="Go back"
            @click="$router.push({name: 'applicant-dashboard'})">
    </b-icon>
    <div>
      <div class="form-header">
        <img class="logo" src="@/assets/CHO-logo.png">
        <h1>Sanitary Permit Application</h1>
      </div>
      <b-form inline class="form-group">
        <b-container>
          <b-row>
            <b-col xs="6" md="6">
              <label>Application #:</label>
              <b-input v-model="permit.permit_number" readonly></b-input>
            </b-col>
            <b-col xs="6" md="6">
              <label>Status:</label>
              <b-input v-model="permit.status" readonly></b-input>
            </b-col>
          </b-row>
          <h2 class="table-title">Business Detail</h2>
          <b-row>
            <b-col xs="12" md="6">
              <label class="">Business ID <span class="required">*</span></label>
              <b-input v-model="$v.form.business_id.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.business_id.$error || formError.business_id.length}"/>
              <div v-if="$v.form.business_id.$error">
                <div class="form-error" v-if="!$v.form.business_id.required">
                  This field is required
                </div>
                <div class="form-error" v-else-if="!$v.form.business_id.numeric">
                  Remove any non-numeric characters (like "-")
                </div>
              </div>
              <div class="form-error">
                {{ formError.business_id }}
              </div>
            </b-col>
            <b-col xs="12" md="6">
              <label>Company Name <span class="required">*</span></label>
              <b-input v-model="$v.form.business_name.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.business_name.$error || formError.business_name.length}"/>
              <div v-if="$v.form.business_name.$error">
                <div class="form-error" v-if="!$v.form.business_name.required">
                  This field is required
                </div>
              </div>
              <div class="form-error">
                {{ formError.business_name }}
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col xs="12" md="12">
              <label>Address <span class="required">*</span></label>
              <b-input v-model="$v.form.address.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.address.$error || formError.address.length}"/>

              <div v-if="$v.form.address.$error">
                <div class="form-error" v-if="!$v.form.address.required">
                  This field is required
                </div>
              </div>
              <div class="form-error">
                {{ formError.address }}
              </div>
            </b-col>
            <b-col xs="12" md="4">
              <label>Barangay <span class="required">*</span></label>
              <b-input v-model="$v.form.barangay.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.barangay.$error || formError.barangay.length}">
              </b-input>
              <div v-if="$v.form.barangay.$error">
                <div class="form-error" v-if="!$v.form.barangay.required">
                  This field is required
                </div>
              </div>
              <div class="form-error">
                {{ formError.barangay }}
              </div>
            </b-col>
            <b-col xs="12" md="4">
              <label>City/Municipality <span class="required">*</span></label>
              <b-input v-model="$v.form.city_or_municipality.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.city_or_municipality.$error || formError.city_or_municipality.length}">
              </b-input>
              <div v-if="$v.form.city_or_municipality.$error">
                <div class="form-error" v-if="!$v.form.city_or_municipality.required">
                  This field is required
                </div>
              </div>
              <div class="form-error">
                {{ formError.city_or_municipality }}
              </div>
            </b-col>
            <b-col xs="12" md="4">
              <label>Province <span class="required">*</span></label>
              <b-input v-model="$v.form.province.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.province.$error || formError.province.length}">
              </b-input>
              <div v-if="$v.form.province.$error">
                <div class="form-error" v-if="!$v.form.province.required">
                  This field is required
                </div>
              </div>
              <div class="form-error">
                {{ formError.province }}
              </div>
            </b-col>
          </b-row>

          <b-row>
            <b-col xs="12" md="4">
              <label>Contact Person <span class="required">*</span></label>
              <b-input v-model="$v.form.contact_name.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.contact_name.$error || formError.contact_name.length}"/>

              <div v-if="$v.form.contact_name.$error">
                <div class="form-error" v-if="!$v.form.contact_name.required">
                  This field is required
                </div>
              </div>
              <div class="form-error">
                {{ formError.contact_name }}
              </div>
            </b-col>
            <b-col xs="12" md="4">
              <label>Email Address <span class="required">*</span></label>
              <b-input v-model="$v.form.email.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.email.$error || formError.email.length}"/>

              <div v-if="$v.form.email.$error">
                <div class="form-error" v-if="!$v.form.email.required">
                  This field is required
                </div>
                <div v-else-if="!$v.form.email.email" class="form-error">
                  Must be a valid email format
                </div>
              </div>
              <div class="form-error">
                {{ formError.email }}
              </div>
            </b-col>
            <b-col xs="12" md="4">
              <label>Cellphone (e.g. 09xxxxxxxxx) <span class="required">*</span></label>
              <b-input v-model="$v.form.contact_number.$model"
                       :readonly="justInspector"
                       :class="{'form-field-error':$v.form.contact_number.$error || formError.contact_number.length}"/>

              <div v-if="$v.form.contact_number.$error">
                <div class="form-error" v-if="!$v.form.contact_number.required">
                  This field is required.
                </div>
                <div class="form-error" v-else-if="!$v.form.contact_number.numeric">
                  Remove any non-numeric characters (like "-")
                </div>
                <div class="form-error"
                     v-else-if="!$v.form.contact_number.minLength || !$v.form.contact_number.maxLength">
                  Incorrect number of digits.
                </div>
              </div>
              <div class="form-error">
                {{ formError.contact_number }}
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col xs="12" md="6">
              <label>Business Type <span class="required">*</span></label>
              <b-form-select v-model="$v.form.classification.$model"
                             :disabled="justInspector"
                             :class="{'form-field-error':$v.form.classification.$error || formError.classification.length}"
                             @change="selectBusinessClassification"
                             :options="businessClassifications"
                             text-field="name"
                             value-field="id">
              </b-form-select>
              <div v-if="$v.form.classification.$error">
                <div class="form-error" v-if="!$v.form.classification.required">
                  This field is required
                </div>
              </div>
              <div class="form-error">
                {{ formError.classification }}
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col xs="12" md="12">
              <div class="requirements-table" v-if="form.id">
                <h2 class="table-title">Regulatory Requirements</h2>
                <div class="table-file-upload">
                  <b-table
                      striped
                      hover
                      show-empty
                      :items="regulatoryRequirements"
                      :fields="regulatoryRequirementFields">
                    <template #cell(expiration)="row">
                      <b-form-datepicker hide-header
                                         @input="triggerCompliant(row)"
                                         v-model="regulatoryRequirements[row.index].expiration">
                      </b-form-datepicker>
                    </template>
                    <template #cell(action)="row">
                      <div class="table-action" v-if="!row.item.compliant">
                        <a v-if="regulatoryRequirements[row.index].file"
                           class="show-upload"
                           :href="regulatoryRequirements[row.index].file_data.file"
                           target="_blank">
                          Show
                        </a>
                        <span v-else class="show-upload"></span>
                        <b-form-file v-model="regulatoryRequirements[row.index].model"
                                     :disabled="justInspector"
                                     :browse-text="regulatoryRequirements[row.index].file ? 'Change': 'Upload'"
                                     simple
                                     size="small"
                                     @input="triggerUpload(row)">
                        </b-form-file>
                      </div>
                    </template>
                    <template #cell(action2)="row">
                      <b-form-checkbox switch
                                       :disabled="!(isInspector || isAdmin)"
                                       @change="triggerCompliant(row)"
                                       size="lg"
                                       v-model="regulatoryRequirements[row.index].compliant">
                      </b-form-checkbox>
                    </template>

                  </b-table>
                </div>
              </div>

              <div class="employee-table" v-if="form.id && !justInspector">
                <h2 class="table-title">Employee List</h2>
                <p class="note">Adding an employee will create a Health Clearance application for the employee.</p>
                <div class="text-left select-employee">
                  <b-button @click="addEmployee" size="sm">
                    Add Employee
                  </b-button>
                  <b-button @click="$router.push({name: 'permit-employees', query: {business: permit.business.id}})"
                            size="sm"
                  >
                    View All Employees
                  </b-button>
                </div>
              </div>
            </b-col>
            <b-col :xs="12" :md="12" class="text-center submit-action">
              <div>
                <button class="btn btn-success" @click.prevent="triggerSubmit()" v-if="!justInspector">
                  <span v-if="!loading">
                  {{ form.id ? 'Save Changes' : 'Submit' }}
                  </span>
                  <span v-else
                        class="spinner-border"
                        role="status">
                </span>
                </button>
                <b-button variant="warning" @click="$router.push({name: 'applicant-dashboard'})">
                  Cancel
                </b-button>
              </div>
              <div>
                <b-button variant="primary"
                          v-if="form.id && permit.status !== 'approved' && (isAdmin || isInspector)"
                          @click="triggerProcess">
                  Change Status
                </b-button>
                <b-button v-if="permit.status === 'approved' && isAdmin" @click="triggerPrint">
                  Print Sanitary Permit
                </b-button>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </div>
  </div>
</template>

<script>
import {mapState, mapActions, mapGetters} from "vuex";
import printJS from 'print-js'
import {email, required, minLength, maxLength, numeric} from "vuelidate/lib/validators";
import {
  getPermitQry,
  putPermitQry,
  deletePermitQry,
  postAttachmentQry,
  patchAttachmentQry, postPrintPermitsQry
} from "@/services/permits.service";
import {getGroupsQry, getUsersQry} from "@/services/users.service";
import {
  postBusinessQry,
  getBusinessClassificationsQry,
  postFileQry
} from "@/services/businesses.service";
import {cloneDeep} from "lodash";
import {jsonToFormData} from "@/helpers/common.helper";
import ConfirmModal from "@/components/ConfirmModal";
import {authUser} from "@/helpers/auth.helper";


export default {
  name: 'SanitaryPermit',

  data() {
    return {
      selectedInspector: null,
      inspectors: [],
      remarks: "",
      showModal: false,
      uploadedFile: null,
      loading: false,
      currentStatus: null,
      permitStatuses: [
        {text: "Pending", value: "pending"},
        {text: "Processing", value: "processing"},
        {text: "Rejected", value: "rejected"},
        {text: "Approved", value: "approved"},
      ],
      businessClassifications: [],
      regulatoryRequirements: [],

      regulatoryRequirementFields: [
        {
          key: "name",
          label: "Name",
          formatter: (value, key, item) => {
            return item.requirement.name
          }
        },
        {
          key: "expiration",
          "label": "Expiration",
          "tdClass": "expiration"
        },
        {
          key: "action",
          label: "",
          tdClass: "requirement-action",
        },
        {
          key: "action2",
          label: "Compliant",
          align: "center",
          tdClass: "complaint-action text-center"
        }

      ],

      form: {
        id: null,
        status: null,
        permit: null,
        business_id: "",
        business_name: "",
        barangay: "",
        address: "",
        province: '',
        city_or_municipality: '',
        contact_name: "",
        contact_number: "",
        email: "",
        classification: null,
      },

      permit: {
        id: null,
        attachments: [],
        related_permits: []
      },

      formError: {
        business_id: "",
        business_name: "",
        address: "",
        barangay: "",
        province: '',
        city_or_municipality: '',
        contact_name: "",
        contact_number: "",
        email: "",
        classification: "",
      },

      confirmMessage: "",
      confirmVariant: "primary",
      processedStatus: true,

      itemSelected: null,
      selectedEmployee: {
        idx: null,
        id: null
      },

      deadline: null
    };
  },

  validations: {
    form: {
      business_id: {
        required,
        numeric
      },
      business_name: {required},
      address: {required},
      barangay: {required},
      province: {required},
      city_or_municipality: {required},
      contact_name: {required},
      contact_number: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(11),
        numeric
      },
      email: {required, email},
      classification: {required},
    },
  },

  components: {
    ConfirmModal
  },

  computed: {
    ...mapState("user", ["account"]),
    ...mapGetters("user", ['isAdmin', "justInspector", "isInspector"]),
  },

  async mounted() {
    await getBusinessClassificationsQry()
        .then(res => {
          this.businessClassifications = res.data.results;
        })

    if (this.$route.params.id) {
      await getPermitQry(this.$route.params.id)
          .then(res => {
            const data = res.data;
            this.permit = cloneDeep(data);
            this.currentStatus = this.permit.status;
            this.setBusinessData(cloneDeep(data.business));
          })

      const groups = await getGroupsQry()
          .then(res => {
            return res.data.results.reduce((acc, cur) => {
              acc[cur.name] = cur.id
              return acc;
            }, {})
          })

      const user = authUser.get()

      const isAdmin = user.groups.some(item => item.name === 'admin')

      if (isAdmin) {
        await getUsersQry({groups: groups['inspector']})
            .then(res => {
              this.inspectors = res.data.results.map(item => ({
                ...item,
                full_name: `${item.first_name} ${item.last_name}`
              }))
            });
      }
    }
  },

  methods: {
    ...mapActions('app', ['setAlert']),
    async triggerPrint() {

      await postPrintPermitsQry({"ids": [this.permit.id], "print_type": "sanitary-permit"}, {
        responseType: "arraybuffer"
      }).then(response => {
        const blob = new Blob([response.data], {type: "application/pdf"});
        const blobUrl = URL.createObjectURL(blob);
        printJS(blobUrl)
      })
    },

    triggerCompliant(row) {
      if (row.item.id) {
        patchAttachmentQry(this.$route.params.id, row.item.id, {
          permit: this.$route.params.id,
          expiration: row.item.expiration,
          compliant: row.item.compliant
        })
      } else {
        postAttachmentQry(this.$route.params.id, {
              permit: this.$route.params.id,
              expiration: row.item.expiration,
              regulation_document: row.item.regulation_document,
              compliant: row.item.compliant
            }
        ).then(res => {
          const data = res.data;
          this.regulatoryRequirements[row.index].id = data.id;
        })
      }
    },

    triggerConfirmModal() {
      this.loading = true;
      deletePermitQry(this.selectedEmployee.id)
          .then(() => {
            this.loading = false;
            this.showModal = false;
            this.permit.related_permits.splice(this.selectedEmployee.idx, 1)
          })
          .catch((err) => {
            this.loading = false;
            const error = err.response;
            this.showModal = false;
            let unexpectedError = true;
            if (error.status === 400) {
              if (error.non_field_errors) {
                unexpectedError = false;
                this.setAlert({message: error.non_field_errors[0], type: "danger"})
              }
            }
            if (unexpectedError) {
              this.setAlert({message: "Unexpected error, please try again later", type: "danger"})
            }
          })

    },

    triggerProcess() {
      this.confirmMessage = "Update Permit Status";
      this.confirmVariant = "primary";
      this.processedStatus = true;
      this.showModal = true;
    },

    async triggerSubmit(params) {
      this.$v.$touch();
      if (!this.$v.$invalid && !this.loading) {
        this.loading = true;
        if (this.form.id) {
          const data = {
            ...this.permit,            
            business: {...this.form, bearer_name: this.form.contact_name},
            inspector: this.selectedInspector,
            deadline: this.deadline
          };
          
          if (params) data.remarks = this.remarks;

          await putPermitQry(this.permit.id, data, params)
              .then((res) => {
                const data = res.data;
                this.permit = cloneDeep(data);
                this.setBusinessData(cloneDeep(data.business));
                this.loading = false;
                this.setAlert({
                      message: "Data successfully updated.",
                      type: "success"
                    }
                )
                this.$router.push({name: 'applicant-dashboard'});
              })
              .catch(err => {
                const error = err.response;
                if (error.status === 400) {
                  if (error.data.business) {
                    this.$nextTick(() => {
                      for (let [k, v] of Object.entries(error.data)) {
                        if (k in this.formError) this.formError[k] = v[0];
                      }
                    })
                  }
                  if (error.data.status) this.setAlert({message: error.data.status[0], type: "danger"});
                } else {
                  this.setAlert({
                        message: "Unexpected error, please call the administrator",
                        type: "danger"
                      }
                  )
                }
                this.loading = false;
              })
        } else {
          await postBusinessQry({...this.form, bearer_name: this.form.contact_name})
              .then((res) => {
                const data = res.data;
                this.setBusinessData(data)
                this.loading = false;
                this.setAlert({
                      message: "Successfully submitted your form, set your regulatory requirements and employee list.",
                      type: "success"
                    }
                )

                this.$router.push({name: 'sanitary-permit-detail', params: {id: data.permit}});
              })
              .catch(err => {
                const error = err.response;
                if (error.status === 400) {
                  this.$nextTick(() => {
                    for (let [k, v] of Object.entries(error.data)) {
                      if (k in this.formError) this.formError[k] = v[0];
                    }
                  })
                } else {
                  this.setAlert({
                        message: "Unexpected error, please call the administrator",
                        type: "danger"
                      }
                  )
                }
                this.loading = false;

              })
        }
      }
      this.showModal = false;
      window.scrollTo(0, 0);
    },

    triggerUpload(data) {      
      const item = this.regulatoryRequirements[data.index];

      if(item.model){
        const attachment = jsonToFormData({file: item.model})      
        postFileQry(attachment)
            .then(res => {
              const data = res.data;
              item.file = data.id;
              item.file_data = data;
            })
      }
    },

    selectBusinessClassification(id) {
      const permitExistingAttachments = this.permit.attachments.reduce((acc, cur) => {
        acc[cur.regulation_document] = cur;
        return acc;
      }, {})

      this.regulatoryRequirements = this.businessClassifications.find(item => item.id === id).requirements.map(item => {
        const structItem = {
          loading: false,
          id: null,
          permit: this.permit.id,
          regulation_document: item.id,
          file: null,
          file_data: {},
          requirement: item,
          model: null,
          compliant: false,
          expiration: null
        };
        const existingAttachment = permitExistingAttachments[item.id.toString()]
        if (existingAttachment) {
          Object.assign(structItem, {
            expiration: existingAttachment.expiration,
            compliant: existingAttachment.compliant,
            file: existingAttachment.file,
            file_data: existingAttachment.file_data,
            id: existingAttachment.id,
          })

        }
        return structItem;
      })
    },

    addEmployee() {
      this.$router.push({
        name: "health-clearance-apply",
        query: {permit: this.permit.id, business: this.permit.business.id}
      })
    },

    setBusinessData(data) {
      for (let [k] of Object.entries(this.form)) {
        if (k in data) this.form[k] = data[k];
      }
      this.selectBusinessClassification(data.classification);
    }
  }
};
</script>

<style lang="scss">
.note {
  font-size: 14px;
}

.permit-status-modal {
  margin-top: 20px;

  .row {
    margin: 0 auto !important;
  }

  .permit-status-action {
    margin-top: 20px;

    button:first-of-type {
      margin-right: 10px;
    }
  }
}

.sanitary-permit-form {
  padding: 24px;
  position: relative;

  .submit-action {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ced4da;
  }

  .form-group .row {
    width: auto;
  }

  h2 {
    text-align: left;
    margin: 20px 0;
  }

  .back-arrow {
    position: absolute;
    left: 10px;
  }

  .employee-table {
    .select-employee {
      button:first-of-type {
        margin-right: 10px;
      }
    }

    .employee-status {
      width: 100px;
    }

    .employee-action {
      width: 200px;

      .table-action {
        button {
          margin-right: 10px;
        }
      }
    }
  }

  .complaint-action {
    width: 120px;
  }

  .expiration {
    width: 350px;
  }


  .requirement-action {
    width: 180px;

    .table-action {
      display: flex;
      align-items: center;

      .show-upload {
        width: 70px;
      }

      .custom-file-label {
        margin-left: 5px;
        width: 75px;

        &:after {
          width: 75px;
          text-align: center;
        }
      }
    }
  }


  .form-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    margin: 20px auto;
    justify-items: flex-start;
    align-items: flex-start;
  }

  .short {
    width: 60vh;
  }

  .tiny {
    width: 80vh;
  }

  .long {
    width: 100vh;
  }

  .application-form-group {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
  }

  img {
    width: 120px;
  }

  .form-inline {
    margin: 20px auto;
  }

  .error-message-container {
    display: flex;
    justify-content: center;
  }

  .error-message {
    width: 75%;
  }

  .required {
    color: red;
  }
}

@media screen and (max-width: 651px) {
  .sanitary-permit-form {
    .form-header {
      display: block;
    }
  }
}

@media screen and (max-width: 373px) {
  .sanitary-permit-form {
    margin-top: 110px;
  }
}

</style>
