<template>
  <div class="landing-page">
    <LoginModal
        v-if="loginState.show"
        :back-office="isBackOffice"
        :preselect="preselect"
        @close="closeModal"
    />
    <div class="background">
      <div class="cont">
        <div class="section banner-section"></div>
        <div class="">
          <header class="section section-vertical header-section">
            <div class="logo-header">
              <img class="logo" src="@/assets/CHO-logo.png" alt="City Health Office logo">
              <h1>City Health Office</h1>
              <div class="header-subtext">
                <h3>
                  Continuing a legacy of public health for the well-being of all Mandauehanons.
                </h3>
                <p>
                  For nearly 50 years, the City Health Office (CHO) has provided public health services to residents in
                  partnership with neighborhoods and community stakeholders. Under leadership of Chief Public Health
                  Officer Dr. Dominga G. Obenza, MD, CHO intends to help build health communities where everyone has the
                  opportunity to thrive.
                </p>
              </div>
            </div>
          </header>

          <div class="section section-vertical mission-section">
            <div class="mission-section-background">
              <div class="mission-section-contents">
                <span class="bg-blur-image"></span>
                <h1>Our mission</h1>
                <p>The mission of the City Health Office is to protect and promote the health of all Mandauehanon and to
                  provide a safety net for the most vulnerable.</p>
              </div>
            </div>
          </div>

          <div class="section section-vertical portal-options-section">
            <div class="portal-header">
              <h1>What do we do</h1>
            </div>
            <div class="options--group">
              <div class="option">
                <img class="asset-img" src="@/assets/health-check-icon.png" alt="Sanitary Permit">
                <div class="option-description">
                  <h3>Sanitary Permit</h3>
                  <p>For business establishments, use this portal.</p>
                </div>
                <span id="tooltip-target-1" class="tooltip-btn-container">
                  <button
                    :disabled="authenticated"
                    :class="authenticated ? ['not-allowed'] : []"
                    class="btn btn-primary"
                    @click="triggerApply('sanitary-permit')"
                  >Apply</button>
                </span>
                <b-tooltip target="tooltip-target-1" triggers="hover">
                  You have already registered. Go to <a href="applications">applications</a>.
                </b-tooltip>
              </div>
              <div class="option">
                <img class="asset-img" src="@/assets/health-clearance.png" alt="Health Clearance">
                <div class="option-description">
                  <h3>Health Clearance</h3>
                  <p>For employee and individuals seeking for health clearance, apply here.</p>
                </div>
                <span id="tooltip-target-2" class="tooltip-btn-container">
                  <button
                    :disabled="authenticated"
                    :class="authenticated ? ['not-allowed'] : []"
                    class="btn btn-primary"
                    @click="triggerApply('health-clearance')"
                  >Apply</button>
                </span>
                <b-tooltip target="tooltip-target-2" triggers="hover">
                  You have already registered. Go to <a href="applications">applications</a>.
                </b-tooltip>
              </div>
              <div class="option">
                <img class="asset-img" src="@/assets/special-permit.png" alt="Special Permit">
                <div class="option-description">
                  <h3>Special Permit</h3>
                  <p>For individuals requesting special permits, apply here</p>
                </div>
                <span id="tooltip-target-3" class="tooltip-btn-container">
                  <button
                    :disabled="authenticated"
                    :class="authenticated ? ['not-allowed'] : []"
                    class="btn btn-primary"
                    @click="triggerApply('special-permit')"
                  >Apply</button>
                </span>
                <b-tooltip target="tooltip-target-3" triggers="hover">
                  You have already registered. Go to <a href="applications">applications</a>.
                </b-tooltip>
              </div>
            </div>
          </div>
        </div>
        <footer class="landing-footer">
          <b-container>
            <b-row>
              <b-col cols="12" lg="6" sm="12" xs="12">
                <div class="footer-copyright footer-group">
                  <div class="footer-explanation">
                    <div class="footer-explanation--header">
                      <h3>City Health Office</h3>
                      <p>We are a public health organization in Mandaue City.</p>
                    </div>
                    <div class="footer-explanation--lmap">
                      <l-map
                          v-if="showMap"
                          :zoom="zoom"
                          :center="center"
                          :options="mapOptions"
                          style="margin: auto; overflow: hidden;"
                          @update:center="centerUpdate"
                          @update:zoom="zoomUpdate"
                      >
                        <l-tile-layer
                            :url="url"
                            :attribution="attribution"
                        />

                      </l-map>
                    </div>
                  </div>
                </div>
              </b-col>
              <b-col cols="12" lg="6" sm="12" xs="12">
                <div class="landing-footer-group">
                  <form class="feedback-form form-group">
                    <div class="footer-top">
                      <b-row>
                        <b-col cols="12">
                          <h3 class="header">Write to Us</h3>
                          <p>Fill up this form to submit your concerns to CHO Mandaue City.</p>
                        </b-col>
                      </b-row>
                    </div>
                    <div class="feedback-form--group">
                      <b-alert
                          v-model="showAlert"
                          :variant="alertVariant">
                        {{ formMessage }}
                      </b-alert>
                      <div class="landing-form-group">
                        <b-row>
                          <b-col cols="12" lg="6" md="12" class="form-input-group">
                            <label for="name">Your name</label>
                            <b-input
                              v-model="concernForm.name"
                              type="text"
                              id="name"
                              :class="{'form-field-error':$v.concernForm.name.$invalid}"
                            />
                            <div v-if="$v.concernForm.name.$error">
                              <div class="form-error" v-if="!$v.concernForm.name.required">
                                This field is required
                              </div>
                            </div>
                          </b-col>
                          <b-col cols="12" lg="6" md="12" class="form-input-group">
                            <label for="subject">Your subject</label>
                            <b-input
                              v-model="concernForm.subject"
                              type="text"
                              id="subject"
                              :class="{'form-field-error':$v.concernForm.subject.$invalid}"
                            />
                            <div v-if="$v.concernForm.subject.$error">
                              <div class="form-error" v-if="!$v.concernForm.subject.required">
                                This field is required
                              </div>
                            </div>
                          </b-col>
                          <b-col cols="12" lg="6" md="12" class="form-input-group">
                            <label for="email">Your email</label>
                            <b-input
                              v-model="concernForm.email"
                              type="email"
                              id="email"
                              :class="{'form-field-error':$v.concernForm.email.$invalid}"
                            />
                            <div v-if="$v.concernForm.email.$error">
                              <div class="form-error" v-if="!$v.concernForm.email.required">
                                This field is required
                              </div>
                              <div v-else-if="!$v.concernForm.email.email" class="form-error">
                                Must be a valid email format
                              </div>
                            </div>
                          </b-col>
                          <b-col cols="12" lg="6" md="12" class="form-input-group">
                            <label for="cellphone">
                              Your cellphone number
                            </label>
                            <b-input
                              v-model="concernForm.contact_number"
                              type="text"
                              id="cellphone"
                              :class="{'form-field-error':$v.concernForm.contact_number.$invalid}"
                            />
                            <div v-if="$v.concernForm.contact_number.$error">
                              <div class="form-error" v-if="!$v.concernForm.contact_number.required">
                                This field is required.
                              </div>
                              <div class="form-error" v-else-if="!$v.concernForm.contact_number.numeric">
                                Remove any non-numeric characters (like "-")
                              </div>
                              <div class="form-error" v-else-if="!$v.concernForm.contact_number.minLength || !$v.concernForm.contact_number.maxLength">
                                Incorrect number of digits.
                              </div>
                            </div>
                          </b-col>
                        </b-row>
                      </div>
                      <b-row>
                        <b-col cols="12" class="landing-form-group text-area">
                          <div class="form-input-group">
                            <label for="complaint">Your concern</label>
                            <b-form-textarea
                                v-model="concernForm.concern"
                                :class="{'form-field-error':$v.concernForm.contact_number.$invalid}"
                                name="complaint"
                                id="complaint"
                                cols="30"
                                rows="10"
                            ></b-form-textarea>
                          </div>
                          <div class="contact-submit">
                            <button
                              :disabled="concernDisabled"
                              class="btn btn-warning btn-submit"
                              @click.prevent="submitConcern"
                            >
                              Submit
                            </button>
                          </div>
                        </b-col>
                      </b-row>
                    </div>
                  </form>
                </div>
              </b-col>
            </b-row>
          </b-container>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import "leaflet/dist/leaflet.css";
import LoginModal from '@/components/LoginModal.vue';
import {latLng} from "leaflet";
import {LMap, LTileLayer} from "vue2-leaflet";
import {postConcernQry} from '@/services/users.service';
import {email, required, minLength, maxLength, numeric} from "vuelidate/lib/validators";

export default {
  name: 'LandingPage',
  components: {
    LMap,
    LTileLayer,
    LoginModal
  },

  props: ['loginState'],

  data() {
    return {
      zoom: 18,
      center: latLng(10.324846521873042, 123.94180214050185),
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      withPopup: latLng(47.41322, -1.219482),
      withTooltip: latLng(47.41422, -1.250482),
      currentZoom: 18,
      currentCenter: latLng(47.41322, -1.219482),
      showParagraph: false,
      mapOptions: {
        zoomSnap: 0.5
      },
      showMap: true,
      showModal: false,
      isBackOffice: true,
      isLoggedIn: false,
      preselect: '',

      concernForm: {
        name: '',
        subject: '',
        email: '',
        contact_number: '',
        concern: '',
      },

      showAlert: false,
      formInError: false,
      formMessage: '',
      alertVariant: '',
      concernDisabled: false
    };
  },

  validations: {
    concernForm: {
      name: {required},
      subject: {required},
      email: {required, email},
      contact_number: {
        required,
        numeric,
        maxLength: maxLength(11),
        minLength: minLength(11)
      },
      concern: {required}
    }
  },

  computed: {
    ...mapState('user', ['authenticated']),
  },

  methods: {
    zoomUpdate(zoom) {
      this.currentZoom = zoom;
    },

    centerUpdate(center) {
      this.currentCenter = center;
    },

    triggerApply(type) {
      this.$router.push({name: "register", params: {type}})
    },

    triggerApplicantLogin(preselect) {
      this.isBackOffice = false;
      this.preselect = preselect;
      this.openLoginModal();
    },

    openLoginModal() {
      this.loginState.show = true;
      const landingElement = document.querySelector('.landing-page');
      landingElement.classList.add('modal-open');
    },

    closeModal() {
      this.loginState.show = false;
      this.isBackOffice = true;
      this.preselect = 'admin';
      const landingElement = document.querySelector('.landing-page');
      landingElement.classList = ['landing-page'];
    },

    submitConcern() {
      this.concernDisabled = true;
      postConcernQry(this.concernForm)
        .then(() => {
          this.showAlert = true;
          this.formMessage = 'Submitted';
          this.alertVariant = 'success';

          setTimeout(() => {
            this.showAlert = false;
            this.concernForm = {
              name: '',
              subject: '',
              email: '',
              contact_number: '',
              concern: '',
            };
          }, 4000)
          this.concernDisabled = false;
        })
        .catch(() => {
          this.showAlert = true;
          this.formMessage = 'Error: Lacking fields.';
          this.alertVariant = 'danger';
          this.concernDisabled = false;
        });
    }
  },
  created() {
    if (this.$route.query.login) this.loginState.show = true
  }
}
</script>

<style lang="scss" scoped>

* {
  margin: 0;
  font-size: 16px;
}

.landing-page {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2em;
}

h3 {
  margin: 16px 0px;
  font-size: 1.5em;
}

p {
  font-size: 18px;
  margin: 16px 0px;
}

.background {
  background-color: grey;
}

.container {
  width: 100%;
  margin: auto;
}

.container-fluid {
  background-color: white;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-section {
  background-image: url("~@/assets/MandaueCity-Banner.png");
  height: 1000px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.logo {
  height: 40%;
}

.logo-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.logo-header img {
  margin-bottom: 20px;
}

.image-banner {
  width: 100%;
}

.header-section {
  background-color: #EFE7DE;
  width: 100%;
  height: auto;
  padding: 60px 0px;
}

.mission-section {
  height: 500px;
}

.mission-section p {
  margin: 16px 20px;
  font-weight: 700;
}

.mission-section-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('~@/assets/doctor-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #EFE7DE;
}

.mission-section-contents {
  position: relative;
  opacity: 1;
  width: 50%;
}

.bg-blur-image {
  width: 100px;
  background-image: url('~@/assets/doctor-bg.jpeg');
}

.section-vertical {
  flex-direction: column;
}

.portal-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.portal-options-section {
  background-color: #EFE7DE;
  height: auto;
}

.options--group {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 300px;
  width: 100%;
}

.option {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.option-description {
  margin: 16px 0px;
}

.form-input-group input {
  width: 100%;
}

.asset-img {
  width: 101px;
  height: 95px;
}

.btn-primary {
  width: 40%;
  background-color: #4E632F;
  border-color: #4E632F;
}

.btn-primary:hover {
  background-color: #2E3D18;
}

.option p {
  font-size: 1em;
}

.feedback-form {
}

.feedback-form--group {
  display: flex;
  flex-direction: column;
}

.landing-form-group {
  display: flex;
  flex-direction: column;
}

.contact-submit .btn-submit {
  width: 100%;
}

.form-input-group {
  width: 100%;
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
}

.form-input-group label {
  text-align: left;
}

.footer-top {
  text-align: left;
  margin-bottom: 16px;
}

.footer-top .header {
}

.btn-submit {
  margin-top: 20px;
}

.landing-footer {
  color: white;
  background-color: black;
}

.landing-footer .container {
  padding: 10px 0px 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr .5fr 2fr;
}

.mid {
  display: flex;
  flex-direction: column-reverse;
}

.footer-copyright-bottom {
  padding: 32px 0;
}

.landing-footer-group {
  width: 100%;
}

.footer-copyright {
  text-align: left;
}

.footer-explanation {
}

.footer-explanation--lmap .leaflet-container {
  height: 40vh;
}

.footer-explanation--footer {
  width: 100%;
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
}

.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 716px) {
  .options--group {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .option {
    width: 100%;
    padding: 25px 0;
  }
}

@media screen and (min-width: 601px) {
  header {
    height: 700px;
  }
}

@media screen and (max-width: 600px) {
  .banner-section {
    display: none;
  }

  .mission-section {
    height: 300px;
  }

  .btn-primary {
  }

  .landing-footer {
    display: flex;
    flex-direction: column;
  }

  .landing-footer .container {
    padding: 10px 0px 30px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-footer-group {
    align-items: center;
    justify-content: center;
  }
}

.not-allowed {
  cursor: not-allowed;
}

.tooltip-btn-container {
  width: 100%;
}
</style>
