<template>
  <div class="registration-form">
    <b-alert
        :variant="alertVariant"
        fade
        v-model="showAlert">
      {{ alertMessage }}
    </b-alert>

    <b-container v-if="!hideForm">
      <b-row>
        <b-col cols="12" class="register-logo">
          <img src="@/assets/CHO-logo.png" alt="">
        </b-col>
        <b-col cols="12" class="form">
          <b-row>
            <b-col cols="12" sm="4">
              <div class="form-group">
                <label for="middleName">First Name</label>
                <input
                    v-model="$v.form.first_name.$model"
                    :class="{'form-field-error':$v.form.first_name.$error || formError.first_name.length}"
                    :state="validateState('first_name')"
                    name="firstName"
                    type="text"
                    class="form-control"
                    placeholder="Enter first name">
                <div v-if="$v.form.first_name.$error">
                  <div class="form-error" v-if="!$v.form.first_name.required">
                    First name is required
                  </div>
                </div>
                <div class="form-error">
                  {{ formError.first_name }}
                </div>
              </div>
            </b-col>

            <b-col cols="12" sm="4">
              <div class="form-group">
                <label for="middleName">Middle Name</label>
                <input
                    v-model="$v.form.middle_name.$model"
                    :class="{'form-field-error':$v.form.middle_name.$error || formError.middle_name.length}"
                    :state="validateState('middle_name')"
                    name="middleName"
                    type="text"
                    class="form-control"
                    placeholder="Enter middle name">
                <div v-if="$v.form.middle_name.$error">
                  <div class="form-error" v-if="!$v.form.middle_name.required">
                    Middle name is required
                  </div>
                </div>
                <div class="form-error">
                  {{ formError.middle_name }}
                </div>
              </div>
            </b-col>

            <b-col cols="12" sm="4">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input
                    v-model="$v.form.last_name.$model"
                    :class="{'form-field-error':$v.form.last_name.$error || formError.last_name.length}"
                    :state="validateState('last_name')"
                    name="lastName"
                    type="text"
                    class="form-control"
                    placeholder="Enter last name">
                <div v-if="$v.form.last_name.$error">
                  <div class="form-error" v-if="!$v.form.last_name.required">
                    Last name is required
                  </div>
                </div>
                <div class="form-error">
                  {{ formError.last_name }}
                </div>
              </div>
            </b-col>

            <b-col cols="12" sm="6">
              <div class="form-group">
                <label for="cellphone">Cellphone #</label>
                <input
                    v-model="$v.form.phone_number.$model"
                    :class="{'form-field-error':$v.form.phone_number.$error || formError.phone_number.length }"
                    :state="validateState('phone_number')"
                    name="cellphone"
                    type="text"
                    class="form-control"
                    placeholder="E,g, 09171231342">
                <div v-if="$v.form.phone_number.$error">
                  <div class="form-error" v-if="!$v.form.phone_number.required">
                    This field is required.
                  </div>
                  <div class="form-error" v-else-if="!$v.form.phone_number.numeric">
                    Remove any non-numeric characters (like "-")
                  </div>
                  <div class="form-error" v-else-if="!$v.form.phone_number.minLength || !$v.form.phone_number.maxLength">
                    Incorrect number of digits.
                  </div>
                </div>
                <div class="form-error">
                  {{ formError.phone_number }}
                </div>
              </div>
            </b-col>

            <b-col cols="12" sm="6">
              <div class="form-group">
                <label for="email">Email Address</label>
                <input
                    v-model="$v.form.email.$model"
                    :class="{'form-field-error':$v.form.email.$error || formError.email.length}"
                    :state="validateState('email')"
                    name="email"
                    type="email"
                    class="form-control"
                    placeholder="test@cho.com"
                >
                <div v-if="$v.form.email.$error">
                  <div class="form-error" v-if="!$v.form.email.required">
                    Email is required
                  </div>
                  <span v-if="!$v.form.email.email">Email is invalid</span>
                </div>
                <div class="form-error">
                  {{ formError.email }}
                </div>
              </div>
            </b-col>

            <b-col cols="12" sm="6">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                    v-model="$v.form.password.$model"
                    :class="{'form-field-error':$v.form.password.$error || formError.password.length}"
                    :state="validateState('password')"
                    name="password"
                    :type="showPassword ? 'text': 'password'"
                    placeholder="********"
                    ref="password"
                    class="form-control"
                >
                <div v-if="$v.form.password.$error">
                  <div class="form-error" v-if="!$v.form.password.required">
                    Password is required
                  </div>
                  <div class="form-error" v-if="!$v.form.password.minLength">
                    Password must be at least 6 characters
                  </div>
                </div>
                <div class="form-error">
                  {{ formError.password }}
                </div>

              </div>
            </b-col>

            <b-col cols="12" sm="6">
              <div class="form-group">
                <label for="password-repeat">Repeat Password</label>
                <input
                    v-model="$v.form.repeat_password.$model"
                    :class="{'form-field-error':$v.form.repeat_password.$error || formError.repeat_password.length}"
                    :state="validateState('repeat_password')"
                    name="password-rewrite"
                    :type="showPassword ? 'text': 'password'"
                    placeholder="********"
                    ref="passwordRewrite"
                    class="form-control"
                >
                <div v-if="$v.form.repeat_password.$error">
                  <div class="form-error" v-if="!$v.form.repeat_password.required">
                    Repeat password is required
                  </div>
                  <div class="form-error" v-if="!$v.form.repeat_password.sameAsPassword">
                    Passwords must be identical.
                  </div>
                </div>
                <div class="form-error">
                  {{ formError.repeat_password }}
                </div>
              </div>
              <div class="show-password-field">
                <b-form-checkbox
                    id="show-password"
                    v-model="showPassword"
                    value="accepted"
                    unchecked-value="not_accepted">
                  Show password
                </b-form-checkbox>
              </div>
            </b-col>

            <b-col cols="12" sm="12">
              <div class="terms">
                <b-form-checkbox
                    id="terms-and-conditions"
                    v-model="termsRead">
                  By ticking the checkbox, you have read and agreed the terms and conditions of Mandaue City Health
                  Office Online Application.
                </b-form-checkbox>
              </div>
              <div class="submit">
                <button class="btn btn-primary btn-submit"
                        :disabled="!termsRead"
                        @click="register">
                  <span v-if="!loading">Register</span>
                  <span v-else class="spinner-border" role="status">
                  </span>
                </button>
                <p class="account-exist">
                  Already have an account?
                  <a @click="$router.push({name: 'landing', query: {login: 'true'}})">
                    Log in
                  </a>
                </p>
              </div>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import {email, minLength, required, sameAs, maxLength, numeric} from "vuelidate/lib/validators";
import {postRegistrationQry} from "@/services/auth.service";

export default {
  data() {
    return {
      loading: false,
      showAlert: false,
      alertVariant: "success",
      alertMessage: "",
      form: {
        first_name: '',
        middle_name: '',
        last_name: '',
        phone_number: '',
        email: '',
        password: '',
        repeat_password: '',
        registration_type: ""
      },
      formError: {
        first_name: '',
        middle_name: '',
        last_name: '',
        phone_number: '',
        email: '',
        password: '',
        repeat_password: '',
        registration_type: ""
      },
      hideForm: false,
      errorMessage: '',
      showPassword: false,
      termsRead: false,
    };
  },
  validations: {
    form: {
      first_name: {
        required
      },
      middle_name: {
        required
      },
      last_name: {
        required
      },
      email: {
        required,
        email
      },
      phone_number: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(11),
        numeric
      },
      password: {
        required,
        minLength: minLength(8)
      },
      repeat_password: {
        required,
        sameAsPassword: sameAs('password'),
      }
    }
  },


  methods: {
    validateState(name) {
      const {$dirty, $error} = this.$v.form[name];
      return $dirty ? !$error : null;
    },

    async register() {
      this.$v.$touch();
      if (!this.$v.$invalid && !this.loading) {
        this.showAlert = false;
        this.$v.form.$reset();
        this.resetData(this, 'formError');
        this.loading = true;

        postRegistrationQry({...this.form, "permit_type": this.$route.params.type})
            .then(res => {
              const data = res.data;
              this.hideForm = true;
              this.alertMessage = data.messages[0];
              this.showAlert = true;
              this.alertVariant = "success";
              this.loading = false;
              setTimeout(() => {
                this.$router.push({name: "landing"});
              }, 5000);
            })
            .catch(err => {
              const error = err.response;
              if (error.status === 400) {
                this.$nextTick(() => {
                  for (let [k, v] of Object.entries(error.data)) {
                    if (k in this.formError) this.formError[k] = v[0];
                  }
                })
              } else {
                this.alertMessage = "Unexpected error, please call the administrator"
                this.showAlert = true;
                this.alertVariant = "danger";
              }
              this.loading = false;
            })
      }
    }
  }
};
</script>

<style lang="scss">
.registration-form {
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 5vh;

  .account-exist {
    margin-top: 10px;

    a {
      cursor: pointer;
      color: #007bad;
    }
  }
}

.login {
  opacity: 1;
}

.register-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.register-logo img {
  width: 170px;
  height: 150px;
}

.input-label {
  font-weight: 700;
}

.grid {
  margin-top: 16px;
}

.grid, .form-group {
}

.form-group, .terms {
  text-align: left;
}

.submit {
  margin-top: 16px;
}

.show-password-field {
  display: flex;
  justify-content: flex-end;
}
</style>
