<template>
  <div class="activation-container">
    <b-alert
        :show="dismissCountDown"
        dismissible
        :variant="alertType"
        @dismissed="triggerDismissed"
        @dismiss-count-down="countDownChanged">
      {{ alertMessage }}
    </b-alert>
  </div>
</template>

<script>
import {getConfirmRegistrationQry} from "@/services/auth.service";

export default {
  name: "ConfirmRegistration",
  data() {
    return {
      success: false,
      dismissCountDown: 0,
      alertType: "success",
      alertMessage: "Successfully activated your account"
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    triggerDismissed() {
      this.$router.replace({name: "landing", query: {...this.success && {login: true}}})
    }
  },
  created() {
    getConfirmRegistrationQry(this.$route.params.key)
        .then(() => {
          this.success = true;
          this.dismissCountDown = 5;
          this.alertType = "success"
          this.alertMessage = "Successfully activated your account";
        })
        .catch(() => {
          this.dismissCountDown = 5;
          this.alertType = "danger"
          this.alertMessage = "Invalid registration confirmation code";
        })

  }
}
</script>

<style scoped>
  .activation-container {
    margin-top: 10vh;
  }
</style>
