<template>
  <div class="reset-container">
    <h1>Reset Password</h1>
    <b-form>
      <b-alert v-model="showError" variant="danger">
        {{ errorMessage }}
      </b-alert>
      <b-alert v-model="successfulRequest" variant="success">
        You will now be redirected to the landing page.
      </b-alert>
      <b-form-group
        id="input-password-group"
        label="New Password"
        class="form-group"
        label-for="input-2"
        description="We'll never share your information with anyone else."
      >
        <b-form-input
          id="input-2"
          v-model="$v.form.password.$model"
          type="password"
          :state="validateState('password')"
          placeholder="******"
          @keydown.enter.prevent="resetPassword"
        ></b-form-input>
        <b-form-invalid-feedback id="input-2-live-feedback">
          Password is required
        </b-form-invalid-feedback>
      </b-form-group>
      <b-form-group
        id="input-password-group"
        label="Confirm New Password"
        class="form-group"
        label-for="input-2"
      >
        <b-form-input
          id="input-2"
          v-model="$v.form.repeat_password.$model"
          type="password"
          :state="validateState('repeat_password')"
          placeholder="******"
          @keydown.enter.prevent="resetPassword"
        ></b-form-input>
        <b-form-invalid-feedback id="input-2-live-feedback">
          Password is required
        </b-form-invalid-feedback>
      </b-form-group>
      <b-button variant="success" @click="resetPassword" :disabled="successfulRequest">
        <span>Reset</span>
      </b-button>
    </b-form>
  </div>
</template>

<script>
  import {required, minLength, email} from "vuelidate/lib/validators";
  import {putLostPasswordQry} from "@/services/auth.service";

  export default {
    name: 'ResetPassword',

    data() {
      return {
        form: {
          email: '',
          password: '',
          repeat_password: ''
        },
        showError: false,
        errorMessage: '',
        successfulRequest: false
      };
    },

    validations: {
      form: {
        email: {
          required,
          email
        },
        password: {
          required,
          minLength: minLength(8)
        },
        repeat_password: {
          required,
          minLength: minLength(8)
        }
      }
    },

    computed: {
      key() {
        return this.$route.params.key;
      }
    },

    methods: {
      validateState(name) {
        const {$dirty, $error} = this.$v.form[name];
        return $dirty ? !$error : null;
      },

      validatePasswords() {
        if (this.form.password !== this.form.repeat_password)
          return false;

        return true;
      },

      resetPassword() {
        if (this.successfulRequest)
          return;

        if (!this.validatePasswords()) {
          this.showError = true;
          this.errorMessage = 'Passwords must match.';
          return;
        }

        putLostPasswordQry(this.key, this.form)
          .then(() => {
            this.successfulRequest = true;
            setTimeout(() => {
              this.$router.push({
                name: 'landing-page'
              });
            }, 3000);
          }).catch(error => {
            console.error(error);
            this.showError = true;
            this.errorMessage = 'Invalid key.';
          });
      }
    }
  };
</script>

<style>
  .reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 96px;
  }

  .reset-container form {
    width: 450px;
    margin: 48px;
  }
</style>
