.pointer-cursor {
  cursor: pointer;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.form-group {
  .form-field-error {
    border-color: #dc3545 !important;
  }

  .form-error {
    color: #dc3545;
    font-size: 12px;
  }


  label {
    justify-content: left;
    font-weight: 600;
    text-align: start;
    width: 100%;
  }

  .row {
    width: 100%;

    > div {
      text-align: left;
      margin-bottom: 10px;

      input, select {
        margin-top: 5px;
        width: 100%;
      }
    }
  }

  .submit-action {
    button {
      margin-top: 20px;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }

  .employee-remove-action {
    position: absolute;
    top: 12px;
    right: -15px;
  }
}

.table-extra-action {
  padding: 10px 0;
}

.app-table {
  .table-header {
    &.hide-table-header {
      display: none;
    }
  }

  .table-header-action {
    border-top: 1px solid rgba(33, 37, 41, .15);

    padding: 0.75rem 0;
    display: flex;

    .custom-checkbox {
      margin-left: 28px;
    }

    .table-header-right-action {
      margin-left: 30px;
      display: flex;

      > div {
        cursor: pointer;

        &:not(:last-of-type) {
          margin-right: 20px;
        }

        span {
          color: #007bff;
          margin-left: 5px;
        }
      }

    }
  }
}




