<template>
  <div class="business-classification-list">
    <ConfirmModal ref="confirmModal"
                  @confirm="triggerConfirm"
                  :message="confirmMessage"
                  :show-cancel="allowConfirm"
                  :show-confirm="allowConfirm"
                  v-model="showModal">
      <div v-if="!allowConfirm">
        <b-form class="form-group document-form">
          <b-row>
            <b-col :xs="12" :md="12">
              <p>Name:</p>
              <b-input v-model="form.name"
                       :class="{'form-field-error':$v.form.name.$error}">
              </b-input>
              <div v-if="$v.form.name.$error">
                <div class="form-error" v-if="!$v.form.name.required">
                  This field is required
                </div>
              </div>
            </b-col>
            <b-col :xs="12" :md="12">
              <p>Is Active:</p>
              <b-checkbox v-model="form.is_active"></b-checkbox>
            </b-col>
            <b-col :xs="12" :md="12">
              <p>Regulatory Documents:</p>
              <b-form-select v-model="form.requirements"
                             class="classification-requirements"
                             multiple
                             text-field="name"
                             value-field="id"
                             :options="regulatoryDocuments.results"
                             size="sm">
              </b-form-select>
            </b-col>
          </b-row>
        </b-form>
        <div class="document-form-action text-center">
          <b-button variant="success" @click="triggerSubmit" block>
            Submit
          </b-button>
          <b-button variant="warning" @click="triggerCancelModal" block>Cancel</b-button>
        </div>
      </div>

    </ConfirmModal>
    <div class="text-left">
      <b-button class="create-regulatory" variant="primary" @click="triggerShowForm">Create</b-button>
    </div>
    <b-table
        sticky-header="600px"
        hover
        show-empty
        :items="businessClassifications.results"
        :fields="tableFields">
      <template #cell(action)="row">
        <div class="table-action">
          <b-button variant="success"
                    @click="triggerClassificationAction(row, 'update')"
                    size="sm">
            Update
          </b-button>
          <b-button variant="danger"
                    @click="triggerClassificationAction(row, 'delete')"
                    size="sm">
            Delete
          </b-button>
        </div>
      </template>
    </b-table>

    <b-pagination v-model="currentPage"
                  @change="triggerPaginate"
                  align="center"
                  class="permits-pagination"
                  :total-rows="businessClassifications.count"
                  :per-page="pageSize">
    </b-pagination>
  </div>
</template>

<script>

import {
  getBusinessClassificationsQry,
  deleteBusinessClassificationQry,
  postBusinessClassificationQry,
  putBusinessClassificationQry, getRegulatoryDocumentsQry
} from "@/services/businesses.service";
import {mapActions} from "vuex";
import ConfirmModal from "@/components/ConfirmModal";
import {required} from "vuelidate/lib/validators";


export default {
  name: "BusinessClassifications",
  methods: {
    ...mapActions('app', ['setAlert']),
    triggerClassificationAction(row, action) {
      this.selectedData.id = row.item.id;
      this.selectedData.idx = row.index;
      if (action === 'update') {
        Object.keys(this.form).forEach(value => {
          if (this.form[value] !== undefined) {
            this.form[value] = row.item[value]
          }
        })
        this.triggerShowForm();
      } else {
        this.confirmMessage = "Are you sure you want to delete?";
        this.allowConfirm = true;
        this.showModal = true;
      }
    },
    triggerSubmit() {
      this.$v.$touch();
      if (!this.$v.$invalid && !this.loading) {
        this.$refs['confirmModal'].setLoading(true);
        console.log("this.form.id", this.form.id)
        if (this.form.id) {
          putBusinessClassificationQry(this.form.id, this.form)
              .then(res => {
                const data = res.data;
                data.requirements = data.requirements.map(item => item.id)

                this.setAlert({
                      message: "Data successfully updated.",
                      type: "success"
                    }
                )
                this.businessClassifications.results.splice(this.selectedData.idx, 1, data)
                this.triggerCancelModal()
              })
              .catch(() => {
                this.setAlert({
                      message: "Unexpected error.",
                      type: "danger"
                    }
                )
                this.$refs['confirmModal'].setLoading(false);
                this.showModal = false;
              })

        } else {
          postBusinessClassificationQry(this.form)
              .then(res => {
                const data = res.data;
                data.requirements = data.requirements.map(item => item.id)
                this.setAlert({
                      message: "Data successfully created.",
                      type: "success"
                    }
                )
                this.businessClassifications.results.unshift(data)
                this.triggerCancelModal()
              })
              .catch(() => {
                this.setAlert({
                      message: "Unexpected error.",
                      type: "danger"
                    }
                )
                this.$refs['confirmModal'].setLoading(false);
                this.showModal = false;
              })
        }

      }
    },

    triggerConfirm() {
      deleteBusinessClassificationQry(this.selectedData.id)
          .then(() => {
            this.businessClassifications.results.splice(this.selectedData.idx, 1)
            this.setAlert({
                  message: "Data successfully deleted.",
                  type: "success"
                }
            )
            this.triggerCancelModal()
          })
          .catch(() => {
            this.setAlert({
                  message: "Unexpected Error.",
                  type: "danger"
                }
            )
            this.triggerCancelModal()
          })
      this.triggerCancelModal();

    },
    getBusinessClassificationQuery(params) {
      const queryParams = {
        ...params,
        page_size: this.pageSize,
      }

      getBusinessClassificationsQry(queryParams)
          .then(res => {
            res.data.results = res.data.results.map(item => {
              item.requirements = item.requirements.map(innerItem => innerItem.id)
              return item;
            })
            this.businessClassifications = res.data;
          })
          .catch(err => {
            const error = err.response;
            this.setAlert({message: error.response.data, type: "danger"});
          })
    },

    triggerShowForm() {
      this.confirmMessage = "";
      this.allowConfirm = false;
      this.showModal = true;
    },

    triggerPaginate(page) {
      this.getBusinessClassificationQuery({page})
    },

    triggerCancelModal() {
      this.$refs['confirmModal'].setLoading(false);
      this.resetData(this, 'selectedData');
      this.resetData(this, 'form');
      this.$v.form.$reset();
      this.showModal = false;
    },

  },
  validations: {
    form: {
      name: {required},
    },
  },

  data() {
    return {
      loading: false,
      showModal: false,
      confirmMessage: "",
      allowConfirm: false,
      pageSize: 100,
      currentPage: 1,
      form: {
        id: null,
        name: "",
        requirements: [],
        is_active: true
      },
      selectedData: {
        idx: null,
        id: null
      },
      businessClassifications: {
        count: 0,
        next: null,
        previous: null,
        results: []
      },
      regulatoryDocuments: {
        results: []
      },
      tableFields: [
        {
          key: "name",
          label: "Name",
        },
        {
          key: "action",
          label: "#",
          tdClass: "action-row"
        },

      ],
    }
  },
  created() {
    this.getBusinessClassificationQuery();

    getRegulatoryDocumentsQry({page_size: 100, "permit_type": "sanitary-permit"})
        .then(res => {
          console.log("qqq", res.data)
          this.regulatoryDocuments = res.data;
        })
        .catch(err => {
          const error = err.response;
          this.setAlert({message: error.response.data, type: "danger"});
        })
  },
  components: {
    ConfirmModal
  }
}
</script>

<style lang="scss">
.document-form {

  .document-form-action {
    margin-top: 10px;

    button:first-of-type {
      margin-right: 10px;
    }
  }

  .classification-requirements {
    height: 450px;
  }

}

.business-classification-list {
  .create-regulatory {
    margin-bottom: 10px;
  }

  .action-row {
    width: 150px;
  }

  .table-action {
    button:first-of-type {
      margin-right: 10px;
    }
  }
}
</style>
