<template>
  <div class="settings-page">
    <b-tabs v-model="activeTab" @activate-tab="triggerChange">
      <b-tab title="Profile">
      </b-tab>
      <b-tab title="Regulatory Documents" v-if="isAdmin">
      </b-tab>
      <b-tab title="Business Classifications" v-if="isAdmin">
      </b-tab>
    </b-tabs>
    <div class="settings-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

import {mapGetters} from "vuex"
export default {
  methods: {
    triggerChange(current) {
      this.$router.push({name: this.tabRoutes[current]})
    }
  },
  data() {
    return {
      activeTab: 0,
      tabRoutes: {
        0: "settings",
        1: "regulatory-documents",
        2: "business-classifications"
      }
    }
  },
  computed:{
    ...mapGetters('user', [
      'isAdmin',
      'isDiagnostic',
      'isApplicant',
      'isPhysician']),

  },
  created() {
    this.activeTab = this.$route.meta.tabIndex;
  }
}
</script>

<style scoped lang="scss">
.settings-page {
  padding: 30px;
  .settings-content{
    padding: 20px;
  }
}

</style>
