<template>
  <div class="profile-page">
    <b-row>
      <b-col :xs="12" :md="6">
        <b-form class="form-group">
          <h3 class="text-center">Change Password</h3>
          <b-row>
            <b-col :xs="12" :md="12">
              <label>Current Password:</label>
              <b-input v-model="$v.changePasswordForm.old_password.$model"
                       :readonly="!allowChangePass"
                       type="password"
                       :class="{'form-field-error':$v.changePasswordForm.old_password.$error || changePassFormError.old_password.length}"></b-input>
              <div v-if="$v.changePasswordForm.old_password.$error">
                <div class="form-error" v-if="!$v.changePasswordForm.old_password.required">
                  This field is required
                </div>
              </div>
              <div class="form-error" v-if="!$v.changePasswordForm.old_password.minLength">
                Please input at least 8 characters
              </div>
              <div class="form-error">
                {{ changePassFormError.old_password }}
              </div>

            </b-col>
            <b-col :xs="12" :md="12">
              <label>New Password:</label>
              <b-input v-model="$v.changePasswordForm.new_password.$model"
                       type="password"
                       :readonly="!allowChangePass"
                       :class="{'form-field-error':$v.changePasswordForm.new_password.$error || changePassFormError.new_password.length}">
              </b-input>
              <div v-if="$v.changePasswordForm.new_password.$error">
                <div class="form-error" v-if="!$v.changePasswordForm.new_password.required">
                  This field is required
                </div>
                <div class="form-error" v-if="!$v.changePasswordForm.new_password.minLength">
                  Please input at least 8 characters
                </div>
              </div>
              <div class="form-error">
                {{ changePassFormError.new_password }}
              </div>
            </b-col>
            <b-col :xs="12" :md="12">
              <label>Repeat New Password:</label>
              <b-input v-model="$v.changePasswordForm.repeat_new_password.$model"
                       type="password"
                       :readonly="!allowChangePass"
                       :class="{'form-field-error':$v.changePasswordForm.repeat_new_password.$error || changePassFormError.repeat_new_password.length}">

              </b-input>
              <div v-if="$v.changePasswordForm.repeat_new_password.$error">
                <div class="form-error" v-if="!$v.changePasswordForm.repeat_new_password.required">
                  This field is required
                </div>
                <div class="form-error" v-if="!$v.changePasswordForm.repeat_new_password.samAsNewPassword">
                  Password not match
                </div>
              </div>
              <div class="form-error">
                {{ changePassFormError.repeat_new_password }}
              </div>
            </b-col>
            <b-col :xs="12" :md="12" class="text-center submit-action">
              <div v-if="allowChangePass">
                <b-button variant="success" @click="triggerChangePassword">
                  <span v-if="!changePassLoading">
                  Submit
                  </span>
                  <span v-else
                        class="spinner-border"
                        role="status">
                  </span>

                </b-button>
                <b-button variant="warning" @click="triggerCancelChangePass">Cancel</b-button>
              </div>
              <b-button v-else variant="success" @click="allowChangePass = true">Change Password</b-button>
            </b-col>
          </b-row>
        </b-form>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {required, sameAs, minLength} from "vuelidate/lib/validators";
import {postChangePasswordQry} from "@/services/auth.service";

export default {
  name: "profile",
  methods: {
    ...mapActions('app', ['setAlert']),
    triggerChangePassword() {
      this.$v.changePasswordForm.$touch()

      if (!this.$v.changePasswordForm.$invalid && !this.changePassLoading) {
        this.changePassLoading = true;

        postChangePasswordQry(this.changePasswordForm)
            .then(() => {
              this.changePassLoading = false;
              this.triggerCancelChangePass();
              this.setAlert({"message": "Successfully change your password"})
            })
            .catch(err => {
              this.resetData(this, "changePassFormError");
              const error = err.response;
              if (error.status === 400) {
                Object.keys(this.changePassFormError).forEach((field) => {
                  const fieldError = error.data[field];
                  if (fieldError) this.changePassFormError[field] = fieldError[0];
                });
              } else {
                this.setAlert({"message": "Unexpected error, please try again later", type: "danger"})
              }
              this.changePassLoading = false;
            })
      }

    },
    triggerCancelChangePass() {
      this.allowChangePass = false;
      this.resetData(this, "changePassFormError");
      this.resetData(this, "changePasswordForm");
      this.$v.changePasswordForm.$reset();
    }
  },
  data() {
    return {
      allowChangePass: false,
      changePassLoading: false,
      changePasswordForm: {
        old_password: "",
        new_password: "",
        repeat_new_password: ""
      },
      changePassFormError: {
        old_password: "",
        new_password: "",
        repeat_new_password: ""
      }
    }
  },
  validations: {
    changePasswordForm: {
      old_password: {required, minLength: minLength(8)},
      new_password: {required, minLength: minLength(8)},
      repeat_new_password: {required, samAsNewPassword: sameAs('new_password')}
    }
  }
}
</script>

<style scoped lang="scss">
.profile-page {
  padding: 20px;
}

</style>
