<template>
  <div class="regulatory-documents-list">
    <ConfirmModal ref="confirmModal"
                  @confirm="triggerConfirm"
                  :message="confirmMessage"
                  :show-cancel="allowConfirm"
                  :show-confirm="allowConfirm"
                  v-model="showModal">
      <div v-if="!allowConfirm">
        <b-form class="form-group document-form">
          <b-row>
            <b-col :xs="12" :md="12">
              <p>Name:</p>
              <b-input v-model="form.name"
                       :class="{'form-field-error':$v.form.name.$error}">
              </b-input>
              <div v-if="$v.form.name.$error">
                <div class="form-error" v-if="!$v.form.name.required">
                  This field is required
                </div>
              </div>
            </b-col>
            <b-col :xs="12" :md="12">
              <p>Type:</p>
              <b-form-select v-model="form.permit_type" :options="permitTypes"></b-form-select>
              <div v-if="$v.form.permit_type.$error">
                <div class="form-error" v-if="!$v.form.permit_type.required">
                  This field is required
                </div>
              </div>
            </b-col>
            <b-col :xs="12" :md="12">
              <p>Is Active:</p>
              <b-checkbox v-model="form.is_active"></b-checkbox>
            </b-col>
            <b-col xs="12" md="12">
            </b-col>
          </b-row>
        </b-form>
        <div class="document-form-action text-center">
          <b-button variant="success" @click="triggerSubmit" block>
            Submit
          </b-button>
          <b-button variant="warning" @click="triggerCancelModal" block>Cancel</b-button>
        </div>
      </div>
    </ConfirmModal>

    <div class="text-left">
      <b-button class="create-regulatory" variant="primary" @click="triggerShowForm">Create</b-button>
    </div>
    <b-table
        sticky-header="600px"
        hover
        show-empty
        :items="regulatoryDocuments.results"
        :fields="tableFields">
      <template #cell(action)="row">
        <div class="table-action">
          <b-button variant="success"
                    @click="triggerRequirementAction(row, 'update')"
                    size="sm">
            Update
          </b-button>
          <b-button variant="danger"
                    @click="triggerRequirementAction(row, 'delete')"
                    size="sm">
            Delete
          </b-button>
        </div>
      </template>
    </b-table>

    <b-pagination v-model="currentPage"
                  @change="triggerPaginate"
                  align="center"
                  class="permits-pagination"
                  :total-rows="regulatoryDocuments.count"
                  :per-page="pageSize">
    </b-pagination>
  </div>
</template>

<script>
import {
  getRegulatoryDocumentsQry,
  postRegulatoryDocumentsQry,
  putRegulatoryDocumentsQry,
  deleteRegulatoryDocumentsQry
} from "@/services/businesses.service";
import ConfirmModal from "@/components/ConfirmModal";
import {mapActions} from "vuex";
import {required} from "vuelidate/lib/validators";

export default {
  name: "RegulatoryRequirements",
  data() {
    return {
      loading: false,
      showModal: false,
      confirmMessage: "",
      allowConfirm: false,
      pageSize: 100,
      currentPage: 1,
      form: {
        id: null,
        name: "",
        permit_type: "",
        is_active: true
      },
      regulatoryDocuments: {
        count: 0,
        next: null,
        previous: null,
        results: []
      },
      selectedData: {
        idx: null,
        id: null
      },
      permitTypes: [
        {text: "Sanitary Permit", value: "sanitary-permit"},
        {text: "Health Clearance", value: "health-clearance"},
      ],
      tableFields: [
        {
          key: "name",
          label: "Name",
        },
        {
          key: "permit_type",
          label: "Permit Type",
        },
        {
          key: "is_active",
          label: "Is Active",

          formatter: (value, key, item) => {
            return item.is_active ? "Yes" : "No"
          }
        },
        {
          key: "action",
          label: "#",
          tdClass: "action-row"
        },

      ],

    }
  },

  validations: {
    form: {
      name: {required},
      permit_type: {required}
    },
  },

  methods: {
    ...mapActions('app', ['setAlert']),
    triggerSubmit() {
      this.$v.$touch();
      if (!this.$v.$invalid && !this.loading) {
        this.$refs['confirmModal'].setLoading(true);
        if (this.form.id) {
          putRegulatoryDocumentsQry(this.form.id, this.form)
              .then(res => {
                const data = res.data;
                this.setAlert({
                      message: "Data successfully updated.",
                      type: "success"
                    }
                )
                this.regulatoryDocuments.results.splice(this.selectedData.idx, 1, data)
                this.triggerCancelModal()
              })
              .catch(() => {
                this.setAlert({
                      message: "Unexpected error.",
                      type: "danger"
                    }
                )
                this.$refs['confirmModal'].setLoading(false);
                this.showModal = false;
              })

        } else {
          postRegulatoryDocumentsQry(this.form)
              .then(res => {
                const data = res.data;
                this.setAlert({
                      message: "Data successfully created.",
                      type: "success"
                    }
                )
                this.regulatoryDocuments.results.unshift(data)
                this.triggerCancelModal()
              })
              .catch(() => {
                this.setAlert({
                      message: "Unexpected error.",
                      type: "danger"
                    }
                )
                this.$refs['confirmModal'].setLoading(false);
                this.showModal = false;
              })
        }

      }
    },

    triggerConfirm() {
      deleteRegulatoryDocumentsQry(this.selectedData.id)
          .then(() => {
            this.regulatoryDocuments.results.splice(this.selectedData.idx, 1)
            this.setAlert({
                  message: "Data successfully deleted.",
                  type: "success"
                }
            )
            this.triggerCancelModal()
          })
          .catch(() => {
            this.setAlert({
                  message: "Unexpected Error.",
                  type: "danger"
                }
            )
            this.triggerCancelModal()
          })
      this.triggerCancelModal();

    },

    triggerShowForm() {
      this.confirmMessage = "";
      this.allowConfirm = false;
      this.showModal = true;
    },

    triggerRequirementAction(row, action) {
      this.selectedData.id = row.item.id;
      this.selectedData.idx = row.index;
      if (action === 'update') {
        Object.keys(this.form).forEach(value => {
          if (this.form[value] !== undefined) {
            this.form[value] = row.item[value]
          }
        })
        this.triggerShowForm();
      } else {
        this.confirmMessage = "Are you sure you want to delete?";
        this.allowConfirm = true;
        this.showModal = true;
      }
    },

    getRegulatoryDocumentsQuery(params) {
      const queryParams = {
        ...params,
        page_size: this.pageSize,
      }

      getRegulatoryDocumentsQry(queryParams)
          .then(res => {
            this.regulatoryDocuments = res.data;
          })
          .catch(err => {
            const error = err.response;
            this.setAlert({message: error.response.data, type: "danger"});
          })
    },

    triggerCancelModal() {
      this.$refs['confirmModal'].setLoading(false);
      this.resetData(this, 'selectedData');
      this.resetData(this, 'form');
      this.$v.form.$reset();
      this.showModal = false;
    },

    triggerPaginate(page) {
      this.getRegulatoryDocumentsQuery({page})
    },
  },
  created() {
    this.getRegulatoryDocumentsQuery()
  },
  components: {
    ConfirmModal
  }
}
</script>

<style lang="scss">
.document-form {
  .document-form-action {
    margin-top: 10px;

    button:first-of-type {
      margin-right: 10px;
    }
  }
}

.regulatory-documents-list {

  .create-regulatory {
    margin-bottom: 10px;
  }

  .action-row {
    width: 150px;
  }

  .table-action {
    button:first-of-type {
      margin-right: 10px;
    }
  }
}

</style>
