<template>
  <div>
    <router-view :loginState="loginState"></router-view>
  </div>
</template>

<script>
export default {
  props: {
    loginState: {
      default: () => ({show: false})
    },

  }
}
</script>

<style scoped>

</style>
