<template>
  <div class="treasury-page">
    <ConfirmModal v-model="showForm" :show-confirm="false" :show-cancel="false" message="">
      <b-form class="form-group treasury-form">
        <b-row>
          <b-col :xs="12" :md="12">
            <label>Application #:</label>
            <b-input v-model="$v.form.application_number.$model"
                     :class="{'form-field-error':$v.form.application_number.$error || formError.application_number.length}">
            </b-input>
            <div v-if="$v.form.application_number.$error">
              <div class="form-error" v-if="!$v.form.application_number.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.application_number }}
            </div>
          </b-col>
          <b-col :xs="12" :md="12">
            <label>OR #:</label>
            <b-input v-model="$v.form.or_number.$model"
                     :class="{'form-field-error':$v.form.or_number.$error || formError.or_number.length}"></b-input>
            <div v-if="$v.form.or_number.$error">
              <div class="form-error" v-if="!$v.form.or_number.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.or_number }}
            </div>
          </b-col>
          <b-col :xs="12" :md="12">
            <label>Amount:</label>
            <b-input v-model="$v.form.amount.$model"
                     :class="{'form-field-error':$v.form.amount.$error || formError.amount.length}">
            </b-input>
            <div v-if="$v.form.amount.$error">
              <div class="form-error" v-if="!$v.form.amount.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.amount }}
            </div>
          </b-col>
          <b-col xs="12" md="12">
            <div class="treasury-form-action text-center">
              <b-button variant="success" @click="triggerSubmit">
                <span v-if="!loading">
                  Submit
                  </span>
                <span v-else
                      class="spinner-border"
                      role="status">
                </span>
              </b-button>
              <b-button variant="warning" @click="triggerCancel">Cancel</b-button>
            </div>
          </b-col>
        </b-row>
      </b-form>
    </ConfirmModal>

    <h1>Treasury</h1>

    <div class="treasury-action">
      <div>
        <AppSearchSelector :search-fields="searchFields"
                           @search="getTransactionsQuery">
        </AppSearchSelector>
      </div>
      <div>
        <b-button @click="showForm=true" variant="info">Create Payment</b-button>
      </div>
    </div>
    <b-table
        sticky-header="600px"
        striped
        hover
        show-empty
        :items="transactions.results"
        :fields="tableFields">
      <template #cell(actions)="row">
        <b-button size="sm" variant="primary" @click="triggerUpdate(row)">Update</b-button>
      </template>

    </b-table>
  </div>
</template>

<script>
import ConfirmModal from "@/components/ConfirmModal";
import {required} from "vuelidate/lib/validators";
import {getTransactionsQry, postTransactionsQry, putTransactionsQry} from "@/services/transactions";
import AppSearchSelector from "@/components/AppSearchSelector";
import {get} from "lodash";
import moment from "moment";

export default {
  name: "Treasury",
  validations: {
    form: {
      application_number: {required},
      or_number: {required},
      amount: {required},
    },
  },
  methods: {
    triggerUpdate(data) {
      this.updateIdx = data.index;
      for (let [k] of Object.entries(this.form)) {
        if (k === 'application_number') {
          this.form[k] = get(data.item, 'permit_data.permit_number')
        } else if (k in data.item) {
          this.form[k] = data.item[k]
        }
      }
      this.showForm = true;
    },
    triggerSubmit() {
      this.$v.$touch();
      if (!this.$v.$invalid && !this.loading) {
        this.loading = true;
        this.$v.form.$reset();
        this.resetData(this, 'formError');

        if (this.form.id) {
          putTransactionsQry(this.form.id, this.form)
              .then(res => {
                this.transactions.results.splice(this.updateIdx, 1, res.data)
                this.triggerCancel();
              }).catch(err => {
            const error = err.response;
            if (error.status === 400) {
              this.$nextTick(() => {
                for (let [k, v] of Object.entries(error.data)) {
                  if (k in this.formError) this.formError[k] = v[0];
                }
              })

            } else {
              this.setAlert({
                    message: "Unexpected error, please call the administrator",
                    type: "danger"
                  }
              )
            }
            this.loading = false;
          })
        } else {
          postTransactionsQry(this.form)
              .then(res => {
                this.transactions.results.push(res.data)
                this.triggerCancel();
              }).catch(err => {
            const error = err.response;
            if (error.status === 400) {
              this.$nextTick(() => {
                for (let [k, v] of Object.entries(error.data)) {
                  if (k in this.formError) this.formError[k] = v[0];
                }
              })

            } else {
              this.setAlert({
                    message: "Unexpected error, please call the administrator",
                    type: "danger"
                  }
              )
            }
            this.loading = false;
          })
        }
      }
    },
    triggerCancel() {
      this.loading = false;
      this.showForm = false;
      this.resetData(this, 'form');
      this.resetData(this, 'formError');
      this.updateIdx = null;
      this.$v.form.$reset();
    },

    getTransactionsQuery(params) {
      getTransactionsQry({...params, page_size: this.pageSize})
          .then(res => {
            this.transactions = res.data
          })
    }
  },
  mounted() {
    this.getTransactionsQuery();
  },
  data() {
    return {
      pageSize: 50,
      updateIdx: null,
      showForm: false,
      loading: false,
      transactions: {
        count: 0,
        next: null,
        previous: null,
        results: []
      },
      form: {
        id: null,
        application_number: null,
        or_number: null,
        amount: null
      },


      searchFields: [
        {label: "OR #", value: "or_number"},
        {label: "Application #", value: "permit_number"},
        {label: "Owner Name", value: "owner_name"},
        {label: "Owner Email", value: "owner_email"},
      ],

      formError: {
        application_number: "",
        or_number: "",
        amount: "",
      },
      tableFields: [
        {
          key: "or_number",
          label: "OR Number",
        },
        {
          key: "permit_number",
          label: "Application #",
          formatter: (value, key, item) => {
            console.log("item", item)
            return get(item, 'permit_data.permit_number')
          }
        },
        {
          key: "owner",
          label: "owner",
          formatter: (value, key, item) => {
            if (item.permit_data.permit_type === 'sanitary-permit') {
              return get(item, 'permit_data.business.business_name')
            } else {
              return get(item, 'permit_data.applicant.full_name')
            }
          }
        },
        {
          key: "amount",
          label: "Amount",
        },
        {
          key: "created",
          label: "Created At",
          formatter: (value, key, item) => {
            return moment(item.created).format('MM/DD/YYYY, h:mm a');
          }
        },
        {
          key: "actions",
          label: "Actions",
          tdClass: "table-action",
        },
      ],
    }
  },
  components: {
    ConfirmModal,
    AppSearchSelector
  }
}
</script>

<style lang="scss">
.treasury-page {
  padding: 20px;

  .treasury-action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
  }

}

.treasury-form {
  .row {
    width: unset;
  }

  .treasury-form-action {
    margin-top: 20px;

    button:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

</style>
