<template>
  <div class="user-management">
    <b-alert
        :variant="alertVariant"
        fade
        v-model="showAlert">
      {{ alertMessage }}
    </b-alert>

    <ConfirmModal v-model="showConfirmModal"
                  ref="confirmModal"
                  @confirm="triggerDeleteConfirm">
    </ConfirmModal>

    <UserManagementForm v-model="showUserForm" ref="userForm" @success="triggerUserCreate" :groupList="groupList"/>
    <h1>User Management</h1>

    <div class="action-container">
      <div>
        <AppSearchSelector
            :searchFields="searchFields"
            :defaultSearchType="defaultSearchType"
            @search="getUsersQuery">
        </AppSearchSelector>
      </div>
      <div>
        <b-button variant="primary" @click="triggerCreate">
          Create
        </b-button>
      </div>
    </div>

    <b-table
        sticky-header="600px"
        striped
        hover
        show-empty
        :items="users.results"
        :fields="tableFields">

      <template #cell(actions)="row" class="table-action">
        <b-button size="sm"
                  variant="success"
                  @click="triggerUpdate(row)">
          Update
        </b-button>
        <b-button size="sm"
                  variant="danger"
                  @click="triggerDelete(row)">
          Delete
        </b-button>
      </template>
    </b-table>
    <b-pagination v-model="currentPage"
                  @change="triggerPaginate"
                  align="center"
                  class="permits-pagination"
                  :total-rows="users.count"
                  :per-page="pageSize"
                  aria-controls="my-table"
    ></b-pagination>
  </div>
</template>

<script>
import UserManagementForm from '@/components/UserManagementForm.vue';
import {getUsersQry, deleteUserQry, getGroupsQry} from "@/services/users.service";
import ConfirmModal from "@/components/ConfirmModal";
import AppSearchSelector from "@/components/AppSearchSelector";

export default {
  name: 'UserManagement',
  components: {
    UserManagementForm,
    ConfirmModal,
    AppSearchSelector
  },

  data() {
    return {
      showUserForm: false,
      showConfirmModal: false,
      pageSize: 30,
      currentPage: 1,

      users: {
        count: 0,
        next: null,
        previous: null,
        results: []
      },

      tableFields: [
        'email',
        'first_name',
        'middle_name',
        'last_name',
        'phone_number',
        {
          key: "actions",
          label: "Actions",
          tdClass: "table-action",
        },
      ],

      userData: [],
      showModal: false,
      selectedUser: {
        idx: null,
        data: {}
      },

      showAlert: false,
      alertVariant: "success",
      alertMessage: "",

      errorMessage: '',

      managementActionType: 'Create',
      groupList: [],

      defaultSearchType: "permit_number",
      searchFields: [
        {label: "Name", value: "name"},
        {label: "Email", value: "email"},
        {
          label: "Role",
          value: "groups",
          type: "select",
          choices: this.groupList,
          props: {
            multiple: true,
            "label": "name",
            'trackBy': "id",
            preserveSearch: true
          },
        },
      ],
    }
  },

  created() {
    this.getUsersQuery();

    getGroupsQry()
        .then(res => {
          this.groupList = res.data.results;
          const groupsIdx = this.searchFields.findIndex(item => item.value === 'groups')
          if (groupsIdx >= 0) {
            this.searchFields[groupsIdx].choices = this.groupList;
          }
        })
  },

  methods: {
    triggerPaginate(page) {
      this.getPermitsQuery({page})
    },

    getUsersQuery(params) {
      getUsersQry({...params, page_size: this.pageSize})
          .then(res => {
            this.users = res.data
          })
          .catch(err => {
            const error = err.response;
            this.errorMessage = error.response.data;
          })
    },

    triggerUserCreate(data, idx) {
      if (idx !== null) {
        this.users.results.splice(idx, 1, data)
      } else {
        this.users.results.push(data);
      }
    },

    triggerUpdate(data) {
      this.$refs['userForm'].setUpdateData(data.item, data.index)
      this.showUserForm = true;
    },
    triggerDelete(data) {
      this.selectedUser.idx = data.index;
      this.selectedUser.data = data.item;
      this.showConfirmModal = true;
    },

    triggerDeleteConfirm() {
      deleteUserQry(this.selectedUser.data.id)
          .then(() => {
            this.users.results.splice(this.selectedUser.idx, 1)
            this.$nextTick(() => {
              this.$refs['confirmModal'].remove();
              this.alertMessage = "Successfully deleted an item";
              this.showAlert = true;
              this.alertVariant = "success";
              this.resetData(this, 'selectedUser');
              setTimeout(() => {
                this.showAlert = false
              }, 2000)

            })
          })

    },

    triggerCreate() {
      this.showUserForm = true;
    }
  }
}
</script>

<style lang="scss">
.user-management {
  padding: 20px;

  .action-container {
    display: flex;
    justify-content: space-between;
  }

  .table-action {
    button:first-of-type {
      margin-right: 10px;
    }
  }

  .b-table-sticky-header {
    max-height: none;
  }
}

@media screen and (max-width: 973px) {
  .user-management {
    .btn-danger {
      margin-top: 10px;
    }

    .btn {
      display: block;
    }

    .table-action {
      button:first-of-type {
        margin-right: 0px;
      }
    }
  }
}
</style>
