<template>
  <div class="search-selector">
    <b-select
      v-model="searchType"
      @change="searchValue = null"
      :options="searchFields"
      value-field="value"
      text-field="label"
    >
    </b-select>
    <Multiselect
      v-if="getSelectedType && getSelectedType.type === 'select'"
      class="search-input"
      @input="triggerSearch('select')"
      :options="getSelectedType.choices"
      v-bind="getSelectedType.props"
      v-model="searchValue"
    >
      <template slot="selection" slot-scope="{ values, search, isOpen }">
        <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
          {{ values.length }} options selected</span
        >
      </template>
    </Multiselect>
    <b-input
      v-model="searchValue"
      class="search-input"
      v-else
      @keydown.enter.native="triggerSearch('input')"
    >
    </b-input>
    <b-button
      
      class="reset-button"
      @click="triggerReset"
      :disabled="!(searchValue && searchValue.length)"
    >
      Reset
    </b-button>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  name: "SearchSelector",
  data() {
    return {
      searchTriggered: false,
      searchType: this.defaultSearchType,
      searchValue: null,
    };
  },
  methods: {
    triggerSearch(action) {
      if (action === "select") {
        let structValue;
        if (this.getSelectedType.props.multiple) {
          structValue = this.searchValue.map(
            (item) => item[this.getSelectedType.props.trackBy]
          );
        } else {
          structValue = this.searchValue[this.getSelectedType.props.trackBy];
        }
        this.$emit("search", { [this.searchType]: structValue });
      } else if (action === "input") {
        this.$emit("search", { [this.searchType]: this.searchValue });
      }
    },
    triggerReset() {
      this.searchValue = null;
      this.$emit("search", {});
    },
  },

  props: {
    searchFields: {
      default: () => [],
    },
    defaultSearchType: { default: null },
  },
  computed: {
    getSelectedType() {
      return this.searchFields.find((item) => item.value === this.searchType);
    },
  },
  components: {
    Multiselect,
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss">
.search-selector {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;

  .reset-button {
    margin-left: 5px;
  }

  .custom-select {
    width: 150px;
  }

  .search-input {
    margin-left: 10px;
    width: 200px;

    &.multiselect {
      height: 38px;
      min-height: 38px !important;

      .multiselect__placeholder {
        margin-bottom: 6px !important;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .search-selector {
    flex-direction: column;
    align-items: flex-start;
    .search-input,
    .custom-select {
      width: 100%;
      margin-left: 0;
      margin-bottom: 10px;
    }
    button {
      align-self: center;
      width: 180px;
      margin-left: 0 !important;
    }
  }

  .file-application {
    text-align: center !important;
    button {
      width: 180px;
    }
  }
}
</style>
