<template>
  <b-modal v-model="value"
           hide-footer
           no-close-on-backdrop
           no-close-on-esc
           modal-class="confirm-modal"
           hide-header>
    <div class="d-block message-content text-center">
      <h3> {{ message }}</h3>
      <slot></slot>
    </div>
    <div class="confirm-action">
      <b-button class="mt-3"
                :variant="confirmVariant"
                v-if="showConfirm"
                block
                @click="triggerConfirm">
        Confirm
      </b-button>
      <b-button class="mt-2"
                variant="warning"
                v-if="showCancel"
                block
                @click="triggerCancel">
        Cancel
      </b-button>
    </div>
    <div class="loading-content" v-if="loading">
      <b-spinner variant="primary"></b-spinner>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "ConfirmModal",
  props: {
    value: {
      default: false
    },
    loadOnConfirm: {default: true},
    confirmVariant: {default: "danger"},
    message: {default: "Are you sure you want to delete?"},
    showConfirm: {default: true},
    showCancel: {default: true}
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    setLoading(state) {
      this.loading = state;
    },
    triggerConfirm() {
      if(this.loadOnConfirm){
        this.loading = true;
      }

      this.$emit("confirm")
    },
    triggerCancel() {
      this.$emit("input", false)
      this.$emit("cancel")
    },
    remove() {
      this.loading = false;
      this.$emit("input", false)
    }
  }

}
</script>

<style lang="scss">
.confirm-modal {
  .confirm-action {
    margin-top: 20px;
  }

  .loading-content {
    position: absolute;
    background-color: rgba(55, 55, 55, .6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
