<template>
  <div class="modal login-modal">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title-container">
          <h5>Login</h5>
          <span
              class="close-button"
              @click="$emit('close')">
						<i class="fa fa-times-circle"></i>
					</span>
        </div>
      </div>
      <div class="modal-body">
        <div v-if="!passwordResetView" class="login-body">
          <b-alert v-model="showError" variant="danger" dismissible>
            {{ errorMessage }}
          </b-alert>
          <b-alert v-model="passcodeReleased" variant="info">
            We sent you a One-Time Password in your email
          </b-alert>
          <b-form>
            <template v-if="!passcodeReleased">
              <b-form-group
                  id="input-email-group"
                  label="Email"
                  class="form-group"
                  label-for="input-1"
                  description="Please enter your valid and current email here."
              >
                <b-form-input
                    ref="validate-email"
                    id="input-1"
                    v-model="$v.form.email.$model"
                    type="email"
                    :state="validateState('email')"
                    required
                    placeholder="juan_dc@gmail.com"
                    @keydown.enter.prevent="sendCode"
                ></b-form-input>
                <b-form-invalid-feedback id="input-2-live-feedback">
                  Email is required
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                  id="input-password-group"
                  label="Password"
                  class="form-group"
                  label-for="input-2"
                  description="We'll never share your information with anyone else."
              >
                <b-form-input
                    id="input-2"
                    v-model="$v.form.password.$model"
                    type="password"
                    :state="validateState('password')"
                    placeholder="******"
                    @keydown.enter.prevent="sendCode"
                ></b-form-input>
                <b-form-invalid-feedback id="input-2-live-feedback">
                  Password is required
                </b-form-invalid-feedback>
              </b-form-group>

            </template>
            <transition-group name="fade">
              <div v-if="passcodeReleased" class="form-group passcode-form" key="passcode">
                <template v-if="callbackToken">
                  <small>Your token will expire in 10 minutes.</small>
                </template>
                <b-form-group
                    id="input-group-1"
                    label="Passcode"
                    key="passcode"
                    label-for="input-1"
                    description=""
                >
                  <b-form-input
                      id="input-1"
                      v-model="form.otp"
                      type="password"
                      required
                      placeholder="******"
                      @keydown.enter.prevent="login"
                  ></b-form-input>
                </b-form-group>
              </div>
            </transition-group>
            <div class="login-btn">
              <b-button v-if="!passcodeReleased" variant="primary" @click.prevent="sendCode">
                <span v-if="!isLoading">Login</span>
                <div v-else class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </b-button>
              <b-button v-else variant="primary" @click.prevent="login">
                <span v-if="!isLoading">Verify</span>
                <div v-else class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </b-button>
            </div>
            <div v-if="!passcodeReleased" class="forgot-link">
              <p @click="passwordResetView = true">Forgot password?</p>
            </div>
          </b-form>
        </div>
        <div v-else class="login-body">
          <b-alert v-model="successfulReset" variant="info">
            We sent you a link to reset your password via email. If you didn't receive it,
            you must have signed up with a different email.
          </b-alert>
          <b-form>
            <b-form-group
                id="input-email-reset-group"
                label="Email"
                class="form-group"
                label-for="input-3"
                description="We will send you an email with a link for resetting the email."
            >
              <b-form-input
                  ref="validate-email"
                  id="input-1"
                  v-model="$v.form.email.$model"
                  type="email"
                  :state="validateState('email')"
                  required
                  placeholder="juan_dc@gmail.com"
                  @keydown.enter.prevent="sendCode"
              ></b-form-input>
              <b-form-invalid-feedback id="input-2-live-feedback">
                Email is required
              </b-form-invalid-feedback>
            </b-form-group>
            <div class="login-btn">
              <b-button @click="resetPassword" :disabled="successfulReset" variant="primary">
                <span>Reset</span>
              </b-button>
            </div>
            <div class="forgot-link">
              <p @click="passwordResetView = false">Back to login</p>
            </div>
          </b-form>
        </div>
      </div>
      <div v-if="!backOffice" class="modal-footer">
        <p>
          No account yet?
          <router-link
              :to="registerRoute"
          >
            Sign up here
          </router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';
import {required, minLength, email} from "vuelidate/lib/validators";
import {getAccountQry, postLoginQry, postUserOTPQry, postLostPasswordQry} from "@/services/auth.service";
import {setAuthSession, authUser} from "@/helpers/auth.helper";

export default {
  name: 'LoginModal',
  data() {
    return {
      form: {
        email: "",
        password: "",
        otp: ""
      },
      userTypesChoices: {
        "sanitary-permit": {loginRoute: "applicant-dashboard", user_type: "employer"},
        "health-clearance": {loginRoute: "applicant-dashboard", user_type: "employee"},
        "special-permit": {loginRoute: "applicant-dashboard", user_type: "employee"},
        "admin": {loginRoute: "back-office-main", user_type: "admin"},
        "diagnostic": {loginRoute: "diagnostic-portal", user_type: "diagnostic"},
        "physician": {loginRoute: "physician-portal", user_type: "physician"},
      },

      showError: false,

      userChoice: this.backOffice ? 'admin' : 'sanitary-permit',
      passcodeReleased: false,
      errorMessage: '',
      registerRoute: '',
      callbackToken: '',

      isLoading: false,
      passwordResetView: false,
      successfulReset: false
    };
  },

  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8)
      }
    }
  },

  props: {
    backOffice: {
      type: Boolean,
      required: true
    },

  },
  computed: {
    ...mapGetters('user', ['justDiagnostic', "justTreasury"]),
  },

  methods: {
    ...mapActions('user', [
      "setAccount",
      "setAuth"
    ]),

    validateState(name) {
      const {$dirty, $error} = this.$v.form[name];
      return $dirty ? !$error : null;
    },

    sendCode() {
      this.$v.form.$touch();
      if (!this.$v.form.$anyError) {
        this.isLoading = true;
        postUserOTPQry({...this.form})
            .then(() => {
              this.errorMessage = "";
              this.showError = false;
              this.passcodeReleased = true;
              this.isLoading = false;
            })
            .catch((err) => {
              const error = err.response;
              this.errorMessage = "";
              if (error.status === 400) {
                for (const [, value] of Object.entries(error.data)) {
                  value.forEach(item => {
                    this.errorMessage += item;
                  })
                }
              } else {
                this.errorMessage = "Unexpected error, please contact the administrator"
              }

              this.showError = true;
              this.isLoading = false;
            })
      }
    },

    async login() {
      this.isLoading = true;
      postLoginQry(this.form)
          .then(async (res) => {
            const data = res.data;
            const headers = {"Authorization": `Bearer ${data.access_token}`};
            const user = await getAccountQry(headers).then(res => res.data)
            setAuthSession(res.data);
            authUser.set(user);
            this.setAccount(user);
            this.setAuth(true);
            let targetRoute = "applicant-dashboard";

            if (user.is_staff) {
              if (this.justDiagnostic) {
                targetRoute = "diagnostics"
              } else if (this.justTreasury) {
                targetRoute = "treasury"
              }
            }
            await this.$router.push({name: targetRoute});
            this.isLoading = false;
          })
          .catch((err) => {
            console.error(err);
            this.errorMessage = "Unexpected error, please contact the administrator";
            this.showError = true;
            this.isLoading = false;
          })
    },

    resetPassword() {
      if (this.successfulReset)
        return;

      this.successfulReset = true;
      postLostPasswordQry(this.form)
          .then(() => {
            this.successfulReset = true;
            setTimeout(() => {
              this.$emit('close');
            }, 4000);
          }).catch(() => {
        this.successfulReset = true;
        setTimeout(() => {
          this.$emit('close');
        }, 4000);
      });
    }
  }
};
</script>

<style lang="scss">
.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.login-modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  align-items: center;
}

.modal-header {
  padding: 0;
}

.login-modal .modal-content {
  display: block;
  background-color: #FEFEFE;
  width: 400px;
  margin: 0 auto;
  vertical-align: middle;
  border-radius: 7px;
}

.close-button:hover {
  cursor: pointer;
}

.login-container {
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 0;
  background-color: #DAC27B;
  border-radius: 5px;
  width: 100%;
}

.title-container h5 {
  font-weight: bolder;
}

ul.login-choices {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

ul.login-choices li {
  padding: 0px 4px;

}

ul.login-choices li:not(:last-child) {
  border-right: 1px solid black;
}

ul.login-choices li input {
  display: none;
}

ul.login-choices li label {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 800;
}

ul.login-choices li label:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: .2s;
}

ul.login-choices li input:checked + label {
  background-color: #C0C0C0;
}

.login-body {
  margin: 12px;

  .invalid-message {
    color: #dc3545;
  }

  #input-email-group, #input-password-group {
    > div {
      width: 100%;
    }
  }

  .passcode-form {
    #input-group-1 {
      width: 100%;

      > div {
        width: 100%;
      }
    }
  }
}


.modal-footer {
  display: flex;
}

.form-container {
  margin: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: .5s;
  font-size: 18px;
}

.bv-no-focus-ring {
  width: 100%;
}

.login-btn {
  padding: 8px 0px 0px 0px;
}

@media screen and (max-width: 600px) {
  .login-modal .modal-content {
    width: 80%;
  }
}

.forgot-link {
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
  color: blue;
  cursor: pointer;
}
</style>
