<template>
  <ConfirmModal v-model="value">

  </ConfirmModal>
</template>

<script>
import ConfirmModal from "@/components/ConfirmModal";

export default {
  name: "PermitRemarks",
  props: ["value"],
  components: {
    ConfirmModal
  }
}
</script>

<style scoped>

</style>
