<template>
  <div>
    <nav
      v-bind:class="{ 'nav-admin': isAdmin }"
      class="navbar navbar-dark bg-dark fixed-top"
    >
      <div class="navbar-brand">
        <img
          class="logo"
          src="../assets/CHO-logo.png"
          alt="mandaue city health office"
          @click="triggerNavigate('landing')"
        />
        <span class="mandaue-text">&nbsp;&nbsp;Mandaue City Health Office</span>
      </div>

      <div class="navbar-text">
        <div class="navbar-options">
          <template v-if="authenticated">
            <p
              @click="triggerNavigate('applicant-dashboard')"
              v-if="isAdmin || isApplicant || isPhysician || isInspector"
            >
              Applications
            </p>
            <p @click="triggerNavigate('treasury')" v-if="isAdmin || isTreasury">
              Treasury
            </p>
            <p @click="triggerNavigate('diagnostics')" v-if="isAdmin || isDiagnostic">
              Diagnostics
            </p>
            <p v-if="isAdmin" @click="triggerNavigate('user-management')">
              User Management
            </p>
            <p @click="triggerNavigate('settings')">Settings</p>
            <p @click="triggerLogout">Logout</p>
          </template>
          <p v-else-if="isOnNonLoginRoute" @click="loginState.show = true">Login</p>
        </div>

        <div class="mobile-nav">
          <div class="topnav">
            <a href="javascript:void(0);" class="icon" @click="openMobileNav()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div v-if="isAdmin" id="admin-mobile" v-show="mobileActive">
      <p
        @click="triggerNavigate('applicant-dashboard')"
        v-if="isAdmin || isApplicant || isPhysician"
      >
        Applications
      </p>
      <p @click="triggerNavigate('treasury')" v-if="isAdmin || isTreasury">Treasury</p>
      <p @click="triggerNavigate('diagnostics')" v-if="isAdmin || isDiagnostic">
        Diagnostics
      </p>
      <p v-if="isAdmin" @click="triggerNavigate('user-management')">User Management</p>
      <p @click="triggerNavigate('settings')">Settings</p>
      <p @click="triggerLogout">Logout</p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import { authUser, isAuthenticated, logout } from "@/helpers/auth.helper";
import { get } from "lodash";

export default {
  name: "TheNavbar",
  props: ["loginState"],

  data() {
    return {
      triggerOpenModal: false,
      hasError: false,
      mobileActive: false,
    };
  },

  async created() {
    await this.seUserState(authUser.get());
  },

  computed: {
    ...mapState("user", ["authenticated", "account"]),
    ...mapGetters("user", [
      "isAdmin",
      "isDiagnostic",
      "isApplicant",
      "isInspector",
      "isPhysician",
      "isTreasury",
    ]),

    userGroups() {
      return get(this.account, "groups", []);
    },
  },

  methods: {
    ...mapActions("user", ["setAccount", "setAuth"]),

    async seUserState(account) {
      this.setAccount(account);
      this.setAuth(await isAuthenticated());
    },

    async triggerLogout() {
      await logout();
      await this.seUserState(null);
      if (this.$route.name !== "landing") await this.$router.push({ name: "landing" });
    },

    triggerNavigate(name) {
      if (this.$route.name === name) return;
      this.mobileActive = false;
      this.$router.push({ name });
    },

    isOnNonLoginRoute() {
      if (this.$route.name) return !this.$route.name.includes("login");
      return true;
    },

    openMobileNav() {
      this.mobileActive = this.mobileActive ? false : true;
    },
  },
};
</script>

<style scoped lang="scss">
.logo {
  width: 50px;
  height: 46px;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 70px;
}

.link {
  margin-left: 10px;
}

.navbar--right {
  display: flex;
  align-items: center;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar-text--name {
  margin-right: 10px;
}

.navbar-options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.navbar-options p {
  color: white;
  margin-bottom: 0;
}

.navbar-options p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.home-container {
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 744px) {
  .nav-admin .navbar-options {
    display: none;
  }

  .nav-admin .navbar-text {
    padding-top: 0;
  }

  .nav-admin .mobile-nav {
    display: block;
  }

  .nav-admin .topnav {
    overflow: hidden;
    background-color: #138496;
    position: relative;
  }

  #admin-mobile {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #343a40;
    z-index: 99;
    border-top: solid 1px #fff;
  }

  #admin-mobile p {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-top: solid 1px #138496;
    margin-bottom: 0;
  }

  #admin-mobile p:hover {
    background: #17a2b8;
  }

  .nav-admin .topnav a.icon {
    display: block;
    right: 0;
    top: 0;
    padding: 5px 14px;
  }

  .nav-admin .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .nav-admin {
    flex-direction: unset;
  }
}

@media screen and (max-width: 373px) {
  .navbar-brand {
    span {
      display: none;
    }
  }

  #admin-mobile {
    top: 110px;
  }
}
</style>
