<template>
  <ConfirmModal v-model="value"
                ref="confirmModal"
                :loadOnConfirm="false"
                :showConfirm="false"
                :showCancel="false"
                message=""
                confirmVariant="success">
    <div>
      <h4>{{ form.id ? 'Update' : 'Create' }} User</h4>
    </div>
    <b-form class="form-group user-management-form">
      <b-row>
        <b-col xs="12" md="12">
          <label> First Name</label>
          <b-form-input placeholder="First name"
                        :class="{'form-field-error':$v.form.first_name.$error || formError.first_name.length}"
                        v-model="$v.form.first_name.$model"
          ></b-form-input>
          <div v-if="$v.form.first_name.$error">
            <div class="form-error" v-if="!$v.form.first_name.required">
              This field is required
            </div>
          </div>
          <div class="form-error">
            {{ formError.first_name }}
          </div>
        </b-col>

        <b-col xs="12" md="12">
          <label> Middle Name</label>
          <b-form-input placeholder="Middle name"
                        :class="{'form-field-error':$v.form.middle_name.$error || formError.middle_name.length}"
                        v-model="$v.form.middle_name.$model"
          ></b-form-input>
          <div v-if="$v.form.middle_name.$error">
            <div class="form-error" v-if="!$v.form.middle_name.required">
              This field is required
            </div>
          </div>
          <div class="form-error">
            {{ formError.middle_name }}
          </div>
        </b-col>
        <b-col xs="12" md="12">
          <label>Last Name</label>
          <b-form-input placeholder="Last name"
                        :class="{'form-field-error':$v.form.last_name.$error || formError.last_name.length}"
                        v-model="$v.form.last_name.$model"
          ></b-form-input>
          <div v-if="$v.form.last_name.$error">
            <div class="form-error" v-if="!$v.form.last_name.required">
              This field is required
            </div>
          </div>
          <div class="form-error">
            {{ formError.last_name }}
          </div>
        </b-col>
        <b-col xs="12" md="12">
          <label>Email</label>
          <b-form-input v-model="$v.form.email.$model"
                        :class="{'form-field-error':$v.form.email.$error || formError.email.length}"
                        :disabled="!!form.id"
                        placeholder="Email"
          ></b-form-input>
          <div v-if="$v.form.email.$error">
            <div class="form-error" v-if="!$v.form.email.required">
              Email is wrong format
            </div>
            <div class="form-error" v-if="!$v.form.email.email">
              Email is wrong format
            </div>
          </div>
          <div class="form-error">
            {{ formError.email }}
          </div>
        </b-col>
        <b-col xs="12" md="12">
          <label>Phone Number</label>
          <b-form-input placeholder="Phone Number" v-model="form.phone_number">
          </b-form-input>
        </b-col>
        <b-col v-if="isAdmin" xs="12" md="12">
          <label> Roles </label>

          <b-form-select v-model="form.groups" :options="groupList" value-field="id" text-field="name" multiple>
          </b-form-select>
        </b-col>
        <b-col xs="12" md="12">
          <div class="user-management-form-action text-center">
            <b-button variant="success"
                      @click="submit">
              Confirm
            </b-button>
            <b-button variant="warning"
                      @click="triggerClose">
              Cancel
            </b-button>
          </div>
        </b-col>
      </b-row>
      <div>

      </div>
    </b-form>
  </ConfirmModal>
</template>

<script>

import {postUserQry, putUserQry} from "@/services/users.service";
import {email, required} from "vuelidate/lib/validators";
import {mapActions, mapGetters} from "vuex";
import ConfirmModal from "@/components/ConfirmModal";

export default {
  name: 'UserManagementPopup',
  props: {
    value: {
      default: false,
    },
    groupList: {
      default: () => []
    }
  },

  data() {
    return {
      showManagementPopup: false,
      updateIdx: null,
      form: {
        id: null,
        first_name: '',
        middle_name: '',
        last_name: '',
        email: '',
        phone_number: '',
        groups: []
      },
      formError: {
        first_name: '',
        middle_name: '',
        last_name: '',
        email: '',
        phone_number: ''
      },
    };
  },
  validations: {
    form: {
      first_name: {required},
      middle_name: {required},
      last_name: {required},
      email: {required, email}
    }
  },
  computed: {
    ...mapGetters("user", ["isAdmin"]),
  },

  components: {
    ConfirmModal
  },

  methods: {
    ...mapActions('app', ['setAlert']),

    setUpdateData(data, idx) {
      for (let [k] of Object.entries(this.form)) {
        if (k in data) {
          if (k === 'groups') {
            this.form[k] = data[k].map(item => item.id)
          } else {
            this.form[k] = data[k]
          }
        }

      }
      this.updateIdx = idx;
    },

    triggerClose() {
      this.$emit("input", false);
      this.$refs['confirmModal'].setLoading(false);
      this.resetData(this, 'form');
      this.updateIdx = null;
      this.$v.form.$reset();
    },

    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$refs['confirmModal'].setLoading(true);

        if (this.form.id) {
          putUserQry(this.form.id, this.form)
              .then(res => {
                this.$emit("success", res.data, this.updateIdx)
                this.setAlert({
                      message: "Successfully updated your data.",
                      type: "success"
                    }
                )
                this.triggerClose();
              })
              .catch(err => {
                const error = err.response;
                if (error.status === 400) {
                  this.$nextTick(() => {
                    for (let [k, v] of Object.entries(error.data)) {
                      if (k in this.formError) this.formError[k] = v[0];
                    }
                  })
                }
                this.$refs['confirmModal'].setLoading(false);
              })
        } else {
          postUserQry(this.form)
              .then(res => {
                this.setAlert({
                      message: "Successfully created your data.",
                      type: "success"
                    }
                )
                this.triggerClose();
                this.$emit("success", res.data, null)
                this.$emit("input", false);
              })
              .catch(err => {
                const error = err.response;
                if (error.status === 400) {
                  this.$nextTick(() => {
                    for (let [k, v] of Object.entries(error.data)) {
                      if (k in this.formError) this.formError[k] = v[0];
                    }
                  })
                }
                this.$refs['confirmModal'].setLoading(false);
              })
        }
      }
    },

  }

};
</script>

<style lang="scss">
.user-management-form {
  .row {
    margin: 0 auto !important;
  }
  .user-management-form-action{
    margin-top: 20px;
    button:not(:last-of-type){
      margin-right: 10px;

    }
  }
}
</style>
