<template>
	<div class="application-options-container">
		<div class="application-options-header">
			<h1>Application Options</h1>
		</div>
    <b-container>
      <b-row class="application-options-group">
        <b-col cols="12" lg="4">
          <div class="app-option">
            <img class="asset-img" src="@/assets/health-check-icon.png" alt="Sanitary Permit">
            <div class="app-option-description">
              <h3>Sanitary Permit</h3>
              <p>For business establishments, use this portal.</p>
            </div>
            <button class="btn btn-primary" @click="goToSanitaryPermitApplication">Apply</button>
          </div>
        </b-col>
        <b-col cols="12" lg="4">
          <div class="app-option">
            <img class="asset-img" src="@/assets/health-clearance.png" alt="Sanitary Permit">
            <div class="app-option-description">
              <h3>Health Clearance</h3>
              <p>For employee and individuals seeking for health clearance, apply here.</p>
            </div>
            <button class="btn btn-primary" @click="goToHealthClearanceApplication">Apply</button>
          </div>
        </b-col>
        <b-col cols="12" lg="4">
          <div class="app-option">
            <img class="asset-img" src="@/assets/special-permit.png" alt="Sanitary Permit">
            <div class="app-option-description">
              <h3>Special Permit</h3>
              <p>For business establishments, use this portal</p>
            </div>
            <button class="btn btn-primary" @click="goToSpecialPermitApplication">Apply</button>
          </div>
        </b-col>
      </b-row>
    </b-container>
	</div>
</template>

<script>
	export default {
		name: 'ApplicantApplicationsOptions',

		methods: {
			goToSanitaryPermitApplication() {
				this.$router.push({
					name: 'sanitary-permit-apply'
				});
			},

			goToHealthClearanceApplication() {
				this.$router.push({
					name: 'health-clearance-apply'
				});
			},

			goToSpecialPermitApplication() {
				this.$router.push({
					name: 'special-permit-apply'
				});
			}
		}
	};
</script>

<style>
	.asset-img {
		width: 60px;
		height: 60px;
	}

	.application-options-container {
		margin: 10vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.application-options-header {
		display: flex;
		justify-content: center;
		padding: 12px;
	}

	/* .application-options-group {
		font-size: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		align-content: center;
		justify-content: center;
		height: 300px;
		margin: 12vh 48vh;
	} */

	.app-option {
		height: 240px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		justify-self: center;
		align-self: center;
		background-color: #DCDCDC;
		padding: 12px;
		border-radius: 10px;
		border: 1px #343A40 solid;
	}

	.app-option-description {
		display: flex;
		flex-direction: column;
	}

  @media screen and (max-width: 992px) {
    .app-option {
      margin-bottom: 20px;
      height: auto;
    }
  }

	@media screen and (max-width: 500px) {
		.application-options-header h1 {
			font-size: 25px;
		}

		.application-options-group {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

	}
</style>