<template>
	<div>
		<router-view @open-sidebar="toggleSidebar"></router-view>
	</div>
</template>

<script>
	export default {
		name: 'ApplicantDashboard',

		data() {
			return {
				visible: false
			};
		},

		methods: {
			toggleSidebar() {
				this.visible = !this.visible;
			}
		}
	};
</script>

<style>
  .nav-route {
    text-decoration: none;
  }

  .nav-route:hover {
    text-decoration: none;
  }

	.applicant-sidebar-options {
		display: flex;
		list-style: none;
		cursor: pointer;
    background-color: #343a40;
    color: #ffffff;
    padding: 16px;
    border-bottom: solid 1px;
	}

  li.applicant-sidebar-options:hover {
    background-color: red;
  }

	.applicant-sidebar-options:hover {
		background-color: #DCDCDC;
	}
</style>
