<template>
  <div class="application-list-container">
    <ConfirmModal ref="confirmModal"
                  v-model="showModal"
                  @confirm="triggerModalConfirm"
                  :message="confirmMessage">
    </ConfirmModal>
    <div class="application-list-header">
      <h1>Applications</h1>
    </div>
    <div class="application-list-table">
      <b-row class="application-action" align-content="around">
        <b-col xs="12" sm="8" md="6" lg="4" class="search-application">
          <AppSearchSelector :search-fields="searchFields"
                             :defaultSearchType="defaultSearchType"
                             @search="getPermitsQuery">
          </AppSearchSelector>
        </b-col>
        <b-col xs="12" sm="4" md="4" lg="4" class="text-right file-application">
          <b-button
              variant="info"
              @click="goToApplicationOptionsPage">
            File an Application
          </b-button>
        </b-col>
      </b-row>

      <b-table
          sticky-header="600px"
          striped
          hover
          show-empty
          :items="permits.results"
          :fields="tableFields">
        <template #cell(actions)="row">
          <b-button size="sm"
                    variant="primary"
                    @click="triggerRenew(row.item)"
                    v-if="row.item.status === 'approved' && !row.item.renewed">
            Renew
          </b-button>
          <b-button variant="primary"
                    size="sm"
                    @click="triggerShowDetail(row.item)">
            Details
          </b-button>
        </template>
      </b-table>
      <b-pagination v-model="currentPage"
                    @change="triggerPaginate"
                    align="center"
                    class="permits-pagination"
                    :total-rows="permits.count"
                    :per-page="pageSize"
                    aria-controls="my-table">
      </b-pagination>

    </div>
  </div>
</template>

<script>
import {mapActions, mapState, mapGetters} from "vuex";
import {getPermitsQry, patchPermitQry} from "@/services/permits.service";
import {get} from "lodash";
import ConfirmModal from "@/components/ConfirmModal";
import moment from "moment";
import AppSearchSelector from "@/components/AppSearchSelector"
import {PERMIT_STATUSES, PERMIT_TYPES} from "@/helpers/constant.helpers";

export default {
  name: 'Applications',

  components: {
    ConfirmModal,
    AppSearchSelector
  },

  computed: {
    ...mapState('user', ['account']),

    ...mapGetters("user", ['justPhysician', "justInspector"]),

    searchFields() {
      return [
        {label: "Application #", value: "permit_number"},
        {
          label: "Application Type",
          value: "permit_type",
          type: "select",
          choices: PERMIT_TYPES.filter(item => this.justPhysician ? item.value !== 'sanitary-permit' : true),
          props: {
            multiple: true,
            "label": "text",
            'trackBy': "value",
            preserveSearch: true
          },
        },
        {label: "Owner Name", value: "owner_name"},
        {label: "Owner Email", value: "owner_email"},
        {
          label: "Status",
          value: "status",
          type: "select",
          choices: PERMIT_STATUSES,
          props: {
            multiple: true,
            "label": "text",
            'trackBy': "value",
            preserveSearch: true
          },
        },

      ].filter(item => this.justInspector ? item.value !== 'permit_type' : true)
    }
  },

  data() {
    return {
      showModal: false,
      pageSize: 30,
      currentPage: 1,
      defaultQueries: {},

      permits: {
        count: 0,
        next: null,
        previous: null,
        results: []
      },
      confirmMessage: "Are you sure you want to renew?",

      tableFields: [
        {
          key: "permit_number",
          label: "Application #",
          tdClass: "permit-number-column"
        },
        {
          key: "owner",
          label: "Owner",
          tdClass: "owner-column",
          formatter: (value, key, item) => {
            if (item.permit_type === 'sanitary-permit') {
              return get(item, 'business.business_name')
            } else {
              return get(item, 'applicant.full_name')
            }
          }
        },
        {key: "permit_type", label: "Application Type", tdClass: "application-type"},
        {
          key: "status",
          label: "Status"
        },
        {
          key: "created",
          label: "Created At",
          tdClass: "created-date",
          formatter: (value, key, item) => {
            return moment(item.created).format('MM/DD/YYYY, h:mm a');
          }
        },
        {key: 'actions', label: 'Actions', tdClass: "table-action"}
      ],
      selectedPermit: null,
      applicationData: [],
      defaultSearchType: "permit_number",

    };
  },

  methods: {
    ...mapActions('app', ['setAlert']),

    triggerModalConfirm() {
      patchPermitQry(this.selectedPermit, {}, {renew: true})
          .then((res) => {
            const data = res.data;
            this.setAlert({message: "Successfully created a renewed data", type: "success"})
            this.$router.push({name: `${data.permit_type}-detail`, params: {id: data.id}})
          })
          .catch(err => {
            const error = err.response;
            this.refs.confirmModal.setLoading(false);
            this.setAlert({message: error.data, type: "error"})
          })
    },

    triggerRenew(item) {
      this.selectedPermit = item.id;
      this.showModal = true;
    },

    triggerPaginate(page) {
      this.getPermitsQuery({page})
    },

    getPermitsQuery(params) {
      getPermitsQry({...this.defaultQueries, ...params, page_size: this.pageSize})
          .then(res => {
            this.permits = res.data;
          })
          .catch(err => {
            const error = err.response;
            this.setAlert({message: error.response.data, type: "danger"});
          })
    },

    goToApplicationOptionsPage() {
      this.$router.push({
        name: 'applicant-options'
      }).catch(() => {
      });
    },

    triggerShowDetail(permit) {
      this.$router.push({name: `${permit.permit_type}-detail`, params: {id: permit.id}})
    }
  },

  async mounted() {
    if (this.justInspector) {
      this.defaultQueries['permit_type'] = 'sanitary-permit'

    } else {
      const registrationType = get(this.account, 'registration_type', null)
      if (registrationType) {
        this.defaultQueries['permit_type'] = registrationType
      }
    }
    await this.getPermitsQuery();

  },
};
</script>

<style lang="scss">
.application-list-container {
  margin: 80px 30px 0 35px;

  .application-action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .created-date {
    width: 200px;
  }
  .owner-column{
    min-width: 150px;
  }

  .application-type{
    min-width: 150px;
  }

  .table-action {
    text-align: right;
    width: 180px;
    min-width: 180px;

    button {
      margin-right: 10px;
    }
  }

  .permit-number-column {
    min-width: 200px;

  }
}

.application-menu-control {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  z-index: 10;
  width: 85px;
  height: 45px;
}

.application-menu-control svg {
  height: 40px;
  width: 55px !important;
}

.application-list-table p {
  font-size: 24px;
  font-weight: bold;
  padding: 30px 0;
}


@media screen and (max-width: 500px) {
  .application-list-container {
    margin: 20px 10px 0 10px;
  }

  .application-list-header {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

}

@media screen and (max-height: 900px) {
  .application-list-table {
    .b-table-sticky-header{
    max-height: 400px !important;
    }
  }
}
</style>
