<template>
  <div class="health-clearance-form">
    <ConfirmModal ref="confirmModal"
                  message=""
                  :show-cancel="false"
                  :show-confirm="false"
                  v-model="showModal">
      <b-form class="form-group permit-status-modal">
        <b-row>
          <b-col xs="12" md="12">
            <label>Status:</label>
            <b-form-select v-model="currentStatus" :options="permitStatuses"></b-form-select>
          </b-col>
          <b-col xs="12" md="12">
            <label>Remarks:</label>
            <b-form-textarea
                id="textarea"
                v-model="remarks"
                placeholder="Enter something..."
                rows="3"
                max-rows="6">
            </b-form-textarea>
          </b-col>
          <b-col xs="12" md="12">
            <div class="health-clearance-status-action text-center">
              <b-button variant="success" @click="triggerPermitStatus({status: currentStatus})">
                Submit
              </b-button>
              <b-button variant="warning" @click="showModal = false">Cancel</b-button>
            </div>
          </b-col>
        </b-row>
      </b-form>
    </ConfirmModal>

    <b-icon icon="arrow-left"
            class="h3 back-arrow pointer-cursor"
            title="Go back"
            @click="triggerBack">
    </b-icon>
    <b-container>
      <div class="form-header">
        <img class="logo" src="@/assets/CHO-logo.png">
        <h1> {{ $route.meta['special-permit'] ? 'Special Permit ' : 'Health Clearance ' }} Application</h1>
      </div>
      <b-form class="form-group">
        <b-row>
          <b-col xs="6" md="6">
            <label>Application #:</label>
            <b-input v-model="permit.permit_number" readonly></b-input>
          </b-col>
          <b-col xs="6" md="6">
            <label>Status:</label>
            <b-input v-model="permit.status" readonly></b-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col xs="12" md="4">
            <label>First Name <span class="required">*</span></label>
            <b-input v-model="$v.form.first_name.$model"
                     :class="{'form-field-error':$v.form.first_name.$error || formError.first_name.length}"
                     placeholder="Juana">
            </b-input>
            <div v-if="$v.form.first_name.$error">
              <div class="form-error" v-if="!$v.form.first_name.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.first_name }}
            </div>
          </b-col>
          <b-col xs="12" md="4">
            <label>Middle Name <span class="required">*</span></label>
            <b-input v-model="$v.form.middle_name.$model"
                     :class="{'form-field-error':$v.form.middle_name.$error || formError.middle_name.length}"
                     placeholder="Reyes"
            ></b-input>
            <div v-if="$v.form.middle_name.$error">
              <div class="form-error" v-if="!$v.form.middle_name.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.middle_name }}
            </div>
          </b-col>
          <b-col xs="12" md="4">
            <label>Last Name <span class="required">*</span></label>
            <b-input v-model="$v.form.last_name.$model"
                     :class="{'form-field-error':$v.form.last_name.$error || formError.last_name.length}"
                     placeholder="dela Cruz"
            ></b-input>
            <div v-if="$v.form.last_name.$error">
              <div class="form-error" v-if="!$v.form.last_name.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.last_name }}
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col xs="12" md="6">
            <label>Position <span class="required">*</span></label>
            <b-input v-model="$v.form.position.$model"
                     :class="{'form-field-error':$v.form.position.$error || formError.position.length}"
                     placeholder="e.g.: Cook, assistant, encoder"
            ></b-input>
            <div v-if="$v.form.position.$error">
              <div class="form-error" v-if="!$v.form.position.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.home_address }}
            </div>
          </b-col>
          <b-col xs="12" md="6">
            <label>Home Address <span class="required">*</span></label>
            <b-input v-model="$v.form.home_address.$model"
                     :class="{'form-field-error':$v.form.home_address.$error || formError.home_address.length}"
                     placeholder="32 Street, Nueva Hills"
            ></b-input>
            <div v-if="$v.form.home_address.$error">
              <div class="form-error" v-if="!$v.form.home_address.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.home_address }}
            </div>
          </b-col>
          <b-col xs="12" md="4">
            <label>Barangay <span class="required">*</span></label>
            <b-input v-model="$v.form.barangay.$model"
                     :class="{'form-field-error':$v.form.barangay.$error || formError.barangay.length}">
            </b-input>
            <div v-if="$v.form.barangay.$error">
              <div class="form-error" v-if="!$v.form.barangay.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.barangay }}
            </div>
          </b-col>
          <b-col xs="12" md="4">
            <label>City/Municipality <span class="required">*</span></label>
            <b-input v-model="$v.form.city_or_municipality.$model"
                     :class="{'form-field-error':$v.form.city_or_municipality.$error || formError.city_or_municipality.length}">
            </b-input>
            <div v-if="$v.form.city_or_municipality.$error">
              <div class="form-error" v-if="!$v.form.city_or_municipality.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.city_or_municipality }}
            </div>
          </b-col>
          <b-col xs="12" md="4">
            <label>Province <span class="required">*</span></label>
            <b-input v-model="$v.form.province.$model"
                     :class="{'form-field-error':$v.form.province.$error || formError.province.length}">
            </b-input>
            <div v-if="$v.form.province.$error">
              <div class="form-error" v-if="!$v.form.province.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.province }}
            </div>
          </b-col>
        </b-row>

        <b-row>
          <b-col xs="12" md="4">
            <label>Cellphone <span class="required">*</span></label>
            <b-input v-model="$v.form.contact_number.$model"
                     :class="{'form-field-error':$v.form.contact_number.$error || formError.contact_number.length}">
            </b-input>
            <div v-if="$v.form.contact_number.$error">
              <div class="form-error" v-if="!$v.form.contact_number.required">
                This field is required.
              </div>
              <div class="form-error" v-else-if="!$v.form.contact_number.numeric">
                Remove any non-numeric characters (like "-")
              </div>
              <div class="form-error"
                   v-else-if="!$v.form.contact_number.minLength || !$v.form.contact_number.maxLength">
                Incorrect number of digits.
              </div>
            </div>
            <div class="form-error">
              {{ formError.province }}
            </div>
          </b-col>
          <b-col xs="12" md="4">
            <label>Email Address <span class="required">*</span></label>
            <b-input v-model="$v.form.email.$model"
                     :class="{'form-field-error':$v.form.email.$error || formError.email.length}">
            </b-input>
            <div v-if="$v.form.email.$error">
              <div class="form-error" v-if="!$v.form.email.required">
                This field is required
              </div>
              <div class="form-error" v-if="!$v.form.email.email">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.email }}
            </div>
          </b-col>
          <b-col xs="12" md="4">
            <label>Nationality <span class="required">*</span></label>
            <b-input v-model="$v.form.nationality.$model"
                     placeholder="e.g.: Filipino, Chinese, Japanese"
                     :class="{'form-field-error':$v.form.nationality.$error || formError.nationality.length}">
            </b-input>
            <div v-if="$v.form.nationality.$error">
              <div class="form-error" v-if="!$v.form.nationality.required">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.nationality }}
            </div>
          </b-col>
          <b-col xs="12" md="6">
            <label>Birthday <span class="required">*</span></label>
            <b-datepicker
                v-model="$v.form.birthday.$model"
                dropup
                :hide-header="true"
                :max="maxDate">
            </b-datepicker>
            <div v-if="$v.form.birthday.$error">
              <div class="form-error" v-if="!$v.form.birthday.minValue">
                This field is required
              </div>
            </div>
            <div class="form-error">
              {{ formError.birthday }}
            </div>
          </b-col>
          <b-col xs="12" md="6">
            <label>Sex <span class="required">*</span></label>
            <b-form-select v-model="$v.form.sex.$model" :options="sexOptions"></b-form-select>
          </b-col>
          <b-col xs="12" md="6">
            <label>Weight (lbs) <span class="required">*</span></label>
            <b-input type="number"
                     :class="{'form-field-error':$v.form.weight.$error || formError.weight.length}"
                     v-model="$v.form.weight.$model"
                     min="0">
            </b-input>
            <div v-if="$v.form.weight.$error">
              <div class="form-error" v-if="!$v.form.weight.minValue">
                Please set a value
              </div>
            </div>
            <div class="form-error">
              {{ formError.weight }}
            </div>
          </b-col>
          <b-col xs="12" md="6">
            <label>Height (cm) <span class="required">*</span></label>
            <b-input type="number"
                     :class="{'form-field-error':$v.form.height.$error || formError.height.length}"
                     v-model="$v.form.height.$model"
                     min="0">
            </b-input>
            <div v-if="$v.form.height.$error">
              <div class="form-error" v-if="!$v.form.height.minValue">
                Please set a value
              </div>
            </div>
            <div class="form-error">
              {{ formError.height }}
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label>Application Purpose <span class="required">*</span></label>
            <b-form-radio-group
                @change="(data)=> triggerRadioChange(data, 'purpose')"
                id="radio-group-1"
                v-model="purposeChoice"
                :options="applicationOptions"
                name="radio-options">
            </b-form-radio-group>
            <b-input
                v-if="purposeChoice === 'Others'"
                v-model="$v.form.purpose.$model">
            </b-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label>Pre-Existing Condition <span class="required">*</span></label>
            <b-form-radio-group
                @change="(data)=> triggerRadioChange(data, 'preexisting_condition')"
                v-model="preExistingConditionChoice"
                :options="preExistingOptions"
                name="preexisting_condition">
            </b-form-radio-group>
            <b-input v-model="$v.form.preexisting_condition.$model"
                     v-if="preExistingConditionChoice">
            </b-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <label>Medication Taken Prior to Diagnostic Procedure <span class="required">*</span></label>
            <b-form-radio-group
                @change="(data)=> triggerRadioChange(data, 'medication_taken')"
                v-model="medicationTakenChoice"
                :options="medicationOptions"
                name="medication_taken">
              <b-input v-model="$v.form.medication_taken.$model"
                       v-if="medicationTakenChoice">
              </b-input>
            </b-form-radio-group>
          </b-col>
        </b-row>
        <b-row class="health-clearance-regulatory" v-if="form.id">
          <b-col :xs="12">
            <h2 class="table-title">Regulatory Requirements</h2>
            <div class="regulatory-item" v-for="(item, idx) in regulatoryRequirements" :key="idx">
              <b-row>
                <b-col :xs="6" class="regulatory-title">
                  <h4>
                    <a v-if="item.file"
                       :href="item.file_data.file"
                       target="_blank">
                      {{ item.requirement.name }}
                    </a>
                    <span v-else>{{ item.requirement.name }}</span>
                  </h4>
                </b-col>
                <b-col :xs="6" class="regulatory-status">
                  <b-form-radio-group
                      v-if="item.file"
                      :disabled="justApplicant"
                      button-variant="outline-primary"
                      v-model="item.status"
                      :options="regulatoryStatuses"
                      size="md"
                      value-field="value"
                      text-field="display_name"
                      buttons>
                  </b-form-radio-group>
                  <b-input v-else value="No uploaded file" readonly></b-input>
                </b-col>
              </b-row>
              <div class="regulatory-remarks" v-if="item.file">
                <div>
                  <label>Remarks:</label>
                  <b-form-textarea v-model="item.remarks" :rows="1" max-rows="4" :readonly="justApplicant">
                  </b-form-textarea>
                </div>

                <div>
                  <label>Expiration:</label>
                  <b-form-datepicker v-model="item.expiration" :style="{width: '300px'}">
                  </b-form-datepicker>
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col :xs="12" :md="12" class="submit-action text-center">
            <div>
              <button class="btn btn-success" @click.prevent="triggerSubmit">
                <span v-if="!loading">
                  {{ form.id ? 'Save Changes' : 'Submit' }}
                </span>
                <span v-else class="spinner-border" role="status"/>
              </button>

              <b-button variant="warning" @click.prevent="triggerBack">
                Cancel
              </b-button>
            </div>
            <div>
              <b-button variant="primary"
                        v-if="form.id && permit.status !== 'approved' && (isAdmin || isPhysician)"
                        @click="triggerProcess">
                Change Status
              </b-button>
              <b-button @click="triggerPrint"
                        v-if="permit.status === 'approved' && isAdmin">
                Print Health Clearance
              </b-button>
            </div>

          </b-col>
        </b-row>

      </b-form>
    </b-container>
  </div>
</template>

<script>
import {required, email, minValue, numeric, minLength, maxLength} from "vuelidate/lib/validators";
import {mapState, mapActions, mapGetters} from "vuex";
import ConfirmModal from "@/components/ConfirmModal";
import {getPermitQry, patchPermitQry, postPrintPermitsQry} from "@/services/permits.service";
import {putApplicantQry, postApplicantQry} from "@/services/users.service";
import printJS from 'print-js'
import {jsonToFormData} from "@/helpers/common.helper";
import {getRegulatoryDocumentsQry, postFileQry} from "@/services/businesses.service";
import {PERMIT_STATUSES} from "@/helpers/constant.helpers";


export default {
  name: 'HealthClearance',

  components: {
    ConfirmModal
  },

  computed: {
    ...mapState("user", ["account"]),
    ...mapGetters("user", ["isAdmin", "isPhysician", "justApplicant"]),

    maxDate() {
      let currDate = new Date();
      return new Date(
          currDate.getFullYear() - 17,
          currDate.getMonth()).toISOString();
    }
  },

  validations: {
    form: {
      first_name: {required},
      middle_name: {required},
      last_name: {required},
      position: {required},
      birthday: {required},
      home_address: {required},
      barangay: {required},
      province: {required},
      city_or_municipality: {required},
      contact_number: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(11),
        numeric
      },
      email: {required, email},
      nationality: {required},
      age: {minValue: minValue(1)},
      sex: {},
      weight: {minValue: minValue(1)},
      height: {minValue: minValue(1)},
      purpose: {},
      preexisting_condition: {},
      medication_taken: {},
    }
  },

  data() {
    return {
      showModal: false,
      currentStatus: null,
      remarks: "",
      regulatoryRequirements: [],
      regulatoryRequirementsData: [],
      regulatoryRequirementFields: [
        {
          key: "name",
          label: "Name",
          formatter: (value, key, item) => {
            return item.requirement.name
          }
        },
        {
          key: "action",
          label: "",
          tdClass: "requirement-action",
        },
      ],
      permitStatuses: PERMIT_STATUSES,

      regulatoryStatuses: [
        {"display_name": "Success", "value": "success", "variant": "success"},
        {"display_name": "Warning", "value": "warning", "variant": "warning"},
        {"display_name": "Danger", "value": "danger", "variant": "danger"}
      ],

      loading: false,
      purposeChoice: "Employment",
      medicationTakenChoice: 0,
      preExistingConditionChoice: 0,
      form: {
        id: null,
        business: null,
        permit: null,
        birthday: null,
        application_type: "",
        first_name: '',
        middle_name: '',
        last_name: '',
        position: '',
        home_address: '',
        barangay: '',
        province: '',
        city_or_municipality: '',
        contact_number: '',
        email: '',
        nationality: '',
        sex: 0,
        weight: 0,
        height: 0,
        purpose: 'Employment',
        preexisting_condition: '',
        medication_taken: '',
      },

      permit: {},
      formError: {
        birthday: '',
        first_name: '',
        middle_name: '',
        last_name: '',
        position: '',
        home_address: '',
        barangay: '',
        province: '',
        city_or_municipality: '',
        contact_number: '',
        email: '',
        nationality: '',
        purpose: '',
        sex: "",
        weight: "",
        height: "",
        preexisting_condition: '',
        medication_taken: '',
      },


      sexOptions: [
        {value: 'male', text: 'Male'},
        {value: 'female', text: 'Female'},
      ],

      applicationOptions: [
        {text: 'Employment', value: 'Employment'},
        {text: 'Business', value: 'Business'},
        {text: 'Others, please specify', value: 'Others'},
      ],
      preExistingOptions: [
        {text: 'None', value: 0},
        {text: 'Yes', value: 1},
      ],

      medicationOptions: [
        {text: 'None', value: 0},
        {text: 'Yes', value: 1},
      ],

      activityItems: [
        {isActive: true, date: '08/19/2019', application_type: 'Dickerson', status: 'Macdonald', remarks: 'None'},
        {isActive: false, date: '08/19/2019', application_type: 'Larsen', status: 'Shaw', remarks: 'None'},
        {isActive: false, date: '08/19/2019', application_type: 'Geneva', status: 'Wilson', remarks: 'None'},
        {isActive: true, date: '08/19/2019', application_type: 'Jami', status: 'Carney', remarks: 'None'}
      ],

      activityFields: ['date', 'application_type', 'status', 'remarks'],

      resultItems: [
        {isActive: true, procedure: 'Chest X-Ray', status: 'Dickerson', reviewed_by: 'Macdonald', remarks: 'None'},
        {isActive: false, procedure: 'Urine', status: 'Larsen', reviewed_by: 'Shaw', remarks: 'None'},
        {isActive: false, procedure: 'Stool', status: 'Geneva', reviewed_by: 'Wilson', remarks: 'None'},
        {isActive: true, procedure: 'FBS', status: 'Jami', reviewed_by: 'Carney', remarks: 'None'},
        {isActive: true, procedure: 'SGPT', status: 'Jami', reviewed_by: 'Carney', remarks: 'None'},
        {isActive: true, procedure: 'LIPID', status: 'Jami', reviewed_by: 'Carney', remarks: 'None'}
      ],

      resultFields: ['procedure', 'status', 'reviewed_by', 'remarks'],
      physicianReceived: false,
      showErrorMessage: false,
      errorMessage: '',
    };
  },


  methods: {
    ...mapActions('app', ['setAlert']),
    triggerUpload(data) {
      const item = this.regulatoryRequirements[data.index];
      const attachment = jsonToFormData({file: item.model})
      const params = {permit: this.permit.id, regulation_document: item.regulation_document};

      postFileQry(attachment, params)
          .then(res => {
            const data = res.data;
            item.file = data.id;
            item.file_data = data;
            this.setAlert({message: "Successfully uploaded your data", type: "success"})
          }).catch(() => {
        this.setAlert({message: "Error uploading you data, please try again", type: "danger"})
      })
    },

    async triggerPrint() {
      await postPrintPermitsQry({"ids": [this.permit.id], "print_type": this.permit.permit_type}, {
        responseType: "arraybuffer"
      }).then(response => {
        const blob = new Blob([response.data], {type: "application/pdf"});
        const blobUrl = URL.createObjectURL(blob);
        printJS(blobUrl)
      })
    },

    triggerPermitStatus(params) {
      this.$refs['confirmModal'].setLoading(true)
      patchPermitQry(this.form.permit, {remarks: this.remarks}, params)
          .then(() => {
            this.$refs['confirmModal'].setLoading(false)
            this.showModal = false;
            this.remarks = "";
            this.setAlert({message: "Status successfully updated.", type: "success"})
          })
          .catch(() => {
            this.$refs['confirmModal'].setLoading(false)
            this.setAlert({message: "Error updating status", type: "danger"})
          })
    },

    triggerSubmit() {
      this.$v.$touch();
      if (!this.$v.$invalid && !this.loading) {
        const applicationType = this.$route.meta['special-permit'] ? 'special-permit' : 'health-clearance';
        this.loading = true;
        if (this.form.id) {
          const requirements = this.regulatoryRequirements.filter(item => item.id).map(item => ({
            status: item.status,
            remarks: item.remarks,
            expiration: item.expiration,
            id: item.id
          }))

          const allowRequirements = this.isAdmin || this.isPhysician;
          putApplicantQry(this.form.id, {...this.form, ...allowRequirements && {requirements}})
              .then(() => {
                this.setAlert({message: "Data successfully updated.", type: "success"})
                this.loading = false;
                if (this.$route.query.permit) {
                  this.$router.push({
                    name: 'permit-employees',
                    query: {business: this.$route.query.business},
                    params: {id: this.$route.query.permit}
                  })
                }
              })
              .catch(err => {
                const error = err.response;
                if (error.status === 400) {
                  this.$nextTick(() => {
                    for (let [k, v] of Object.entries(error.data)) {
                      if (k in this.formError) this.formError[k] = v[0];
                    }
                  })
                } else {
                  this.setAlert({message: "Unexpected error, please call the administrator", type: "danger"})
                }
                this.loading = false;

              })

        } else {
          postApplicantQry({...this.form, application_type: applicationType})
              .then(() => {
                this.setAlert({
                      message: "Successfully submitted your form, please wait for your assessment.",
                      type: "success"
                    }
                )
                if (this.$route.query.permit) {
                  this.$router.push({
                    name: 'permit-employees',
                    query: {business: this.$route.query.business},
                    params: {id: this.$route.query.permit}
                  })
                } else {
                  this.$router.push({name: "applicant-dashboard"})
                }

              })
              .catch(err => {
                const error = err.response;
                if (error.status === 400) {
                  this.$nextTick(() => {
                    for (let [k, v] of Object.entries(error.data)) {
                      if (k in this.formError) this.formError[k] = v[0];
                    }
                  })
                } else {
                  this.setAlert({
                        message: "Unexpected error, please call the administrator",
                        type: "danger"
                      }
                  )
                }
                this.loading = false;

              })
        }
      }
    },

    setRequirements() {
      const permitExistingAttachments = this.permit.attachments.reduce((acc, cur) => {
        acc[cur.regulation_document] = cur;
        return acc;
      }, {})

      this.regulatoryRequirements = this.regulatoryRequirementsData.map(item => {
        const structItem = {
          loading: false,
          id: null,
          permit: this.permit.id,
          regulation_document: item.id,
          file: null,
          file_data: {},
          status: null,
          remarks: "",
          requirement: item,
          model: null,
          expiration: null,
        };
        const existingAttachment = permitExistingAttachments[item.id.toString()]
        if (existingAttachment) {
          Object.assign(structItem, {
            file: existingAttachment.file,
            file_data: existingAttachment.file_data,
            id: existingAttachment.id,
            status: existingAttachment.status,
            remarks: existingAttachment.remarks,
            expiration: existingAttachment.expiration
          })
        }
        return structItem;
      })
    },

    triggerProcess() {
      this.showModal = true;
    },

    triggerRadioChange(data, field) {
      if (field === 'purpose') {
        this.form.purpose = data === 'Others' ? "" : data;
      } else {
        this.form[field] = ""
      }
    },

    triggerBack() {
      if (this.$route.query.permit && this.$route.query.from === 'employees') {
        this.$router.push({
          name: 'permit-employees',
          query: {business: this.$route.query.business},
          params: {id: this.$route.query.permit}
        })
      } else if (this.$route.query.permit) {
        this.$router.push({name: 'sanitary-permit-detail', params: {id: this.$route.query.permit}})
      } else {
        this.$router.push({name: 'applicant-dashboard'})
      }
    }
  },
  async mounted() {
    const route = this.$route;
    if (route.query.business) this.form.business = route.query.business;
    if (route.query.permit) this.form.permit = route.query.permit;

    if (route.params.id) {

      await getRegulatoryDocumentsQry({permit_type: "health-clearance", "is_active": true})
          .then(res => {
            this.regulatoryRequirementsData = res.data.results;
          })

      await getPermitQry(route.params.id)
          .then(res => {
            const {applicant, ...permit} = res.data;
            this.permit = permit;
            this.currentStatus = permit.status;

            const choicesValue = {
              "preexisting_condition": "preExistingConditionChoice",
              "medication_taken": "medicationTakenChoice"
            };
            for (let [k] of Object.entries(this.form)) {
              const value = applicant[k];
              if (k === "purpose") {
                this.purposeChoice = value;
                if (!this.applicationOptions.find(item => item.value === value)) {
                  this.purposeChoice = "Others";
                }
                this.form[k] = value;
              } else if (["preexisting_condition", "medication_taken"].includes(k)) {
                if (value) this[choicesValue[k]] = 1;
                this.form[k] = value;
              } else {
                if (k in applicant) this.form[k] = value;
              }
            }
            this.form.permit = permit.id;
            this.setRequirements();
          })

    } else {
      if (!this.form.business) {
        const {first_name, last_name, middle_name, email, phone_number} = this.account;
        Object.assign(this.form, {first_name, last_name, middle_name, email, contact_number: phone_number})
      }
    }

  },
};
</script>

<style lang="scss">

.health-clearance-status-action {
  margin-top: 20px;

  button:first-of-type {
    margin-right: 10px;
  }
}

.health-clearance-form {
  padding: 24px;

  .submit-action {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ced4da;
  }

  .health-clearance-regulatory {
    margin-top: 10px;

    .regulatory-item {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    .regulatory-title {
      display: flex !important;
      align-items: center;
    }

    .regulatory-status {
      > * {
        width: 100%;
      }

      .btn-group {
        > label {


          &.active {
            &:first-of-type {
              background-color: #19be6b;
              border-color: #19be6b;
            }

            &:nth-child(2) {
              background-color: #ff9900;
              border-color: #ff9900;
            }

            &:nth-child(3) {
              background-color: #ed4014;
              border-color: #ed4014;
            }

          }
        }
      }
    }

    .regulatory-remarks textarea {
      width: 100%;
    }
  }

  .back-arrow {
    position: absolute;
    left: 10px;
  }


  .form-group {
    margin-top: 25px;

    .row {

      > div {
        text-align: left;
        margin-bottom: 10px;

        input, select, .b-form-datepicker {
          margin-top: 5px;
          width: 100%;
        }
      }
    }
  }

  .form-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      width: 120px;
    }
  }

  .form-inline {
    margin: 20px auto;
  }

  .form-inline label {
    justify-content: left;
    font-weight: 600;
    text-align: start;
    width: 100%;
  }

  .error-message-container {
    display: flex;
    justify-content: center;
  }

  .required {
    color: red;
  }
}

@media screen and (max-width: 651px) {
  .health-clearance-form {
    .form-header {
      display: block;
    }
  }
}

@media screen and (max-width: 373px) {
  .health-clearance-form {
    margin-top: 110px;
  }
}
</style>
