<template>
  <div id="app">
    <TheNavbar :loginState="loginState"/>
    <div class="main">
      <b-alert
          class="app-alert"
          dismissible
          :variant="alert.type"
          fade
          v-model="alert.show">
        {{ alert.message }}
      </b-alert>
      <router-view :loginState="loginState"/>
    </div>
  </div>
</template>

<script>
import TheNavbar from '@/components/TheNavbar.vue';
import {mapState} from "vuex";

export default {
  name: 'App',

  components: {
    TheNavbar
  },

  computed: {
    ...mapState('app', ['alert']),
  },

  data() {
    return {
      loginState: {
        show: false
      }
    };
  },
};
</script>

<style>

#app {
  font-family: Times, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
}

.app-alert{
  position: fixed !important;
  z-index: 9999;
  top: 0;
  border-radius: unset!important;
  width: 100%;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.main {
  position: relative;
  margin-top: 70px;
}

</style>
