<template>
    <div class="page">
        <div class="page-title">
            <h1>Diagnostic Application</h1>
        </div>
        <div class="diagnostic-page-application">
            <div class="diagnostic-details">
                <div class="details-column">
                    <div class="details-field">
                        <h5>Applicant Name:</h5>
                        <p>{{ applicantFullName }}</p>
                    </div>
                    <div class="details-field">
                        <h5>Email</h5>
                        <p>{{ healthClearance.email }}</p>
                    </div>
                    <div class="details-field">
                        <h5>Contact Number</h5>
                        <p>{{ healthClearance.contact_number }}</p>
                    </div>
                    <div class="details-field">
                        <h5>Home Address</h5>
                        <p>{{ healthClearance.home_address }}</p>
                    </div>
                    <div class="details-field">
                        <h5>Nationality</h5>
                        <p>{{ healthClearance.nationality }}</p>
                    </div>
                </div>
                <div class="details-column">
                    <div class="details-field">
                        <h5>Age</h5>
                        <p>{{ healthClearance.age }}</p>
                    </div>
                    <div class="details-field">
                        <h5>Sex</h5>
                        <p>{{ healthClearance.sex_display }}</p>
                    </div>
                    <div class="details-field">
                        <h5>Height</h5>
                        <p>{{ healthClearance.height }} cm</p>
                    </div>
                    <div class="details-field">
                        <h5>Weight</h5>
                        <p>{{ healthClearance.weight }} kg</p>
                    </div>
                </div>
            </div>
            <div class="diagnostic-details">
                <div class="details-column">
                    <div class="details-field">
                        <h5>Pre-Existing Condition</h5>
                        <p>
                            {{ healthClearance.preexisting_condition }}
                        </p>
                    </div>
                    <div class="details-field">
                        <h5>Purpose</h5>
                        <p>{{ healthClearance.purpose }}</p>
                    </div>
                </div>
                <div class="details-column">
                    <div class="details-field">
                        <h5>Medication Taken</h5>
                        <p>{{ healthClearance.medication_taken}}</p>
                    </div>
                    <div class="details-field">
                        <h5>Risk Status</h5>
                        <p>{{ riskStatus }}</p>
                    </div>
                </div>
            </div>
            <div class="details-action">
                <b-button variant="success">
                    Green Flag
                </b-button>
                <b-button variant="danger">
                    Red Flag
                </b-button>
            </div>
            <div class="documents-container">
                <h5>Documents</h5>
                <div class="document-items-container">
                    <div
                        v-for="(item, index) in documents"
                        :key="`item-${index}`"
                        class="document-item"
                        @click="openFile(item.file_uri)"
                    >
                        <b-icon icon="paperclip"></b-icon>
                        <span><strong>{{ item.name }}</strong></span>
                    </div>
                </div>
                <div class="upload-button">
                    <input ref="fileUpload" type="file" hidden @change="handleFile">
                    <b-button @click="uploadDocument">Upload Document</b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'DiagnosticApplication',

    data() {
        return {
            dateEndorsed: null,
            healthClearance: {},
            riskStatus: 'Unexamined',
            documents: []
        };
    },

    async created() {
        let response;
        let employeeApplicationId = this.$route.params.applicant_id;

        try {
            response = await this.getSpecificEmployeeApplication(
                employeeApplicationId);

            if (response.status === 200) {
                const data = response.data.data;

                this.dateEndorsed = data.date_endorsed;
                this.healthClearance = data.health_clearance;
                this.riskStatus = data.risk_status_display;
                this.documents = data.related_documents;
            }
            console.log(response);
        } catch (error) {
            console.error(error);
        }
    },

    computed: {
        applicantFullName() {
            const { first_name, middle_name, last_name } = {
                ...this.healthClearance };
            if (first_name && last_name) {
                return `${first_name} ${middle_name} ${last_name}`;
            }

            return 'Someone';
        }
    },

    methods: {
        ...mapActions('main', [
            'getSpecificEmployeeApplication',
            'uploadDiagnosticFiles'
        ]),

        uploadDocument() {
            this.$refs.fileUpload.click();  
        },

        async handleFile(e) {
            let pk = this.$route.params.applicant_id;
            const filters = {
                application_id: pk
            };
            const data = {
                file: e.target.files[0]
            };

            await this.uploadDiagnosticFiles({filters, data});
        },

        openFile(filePath) {
            window.open(`http://${filePath}`)
        }
    }
};

</script>

<style>

.page-title {
    margin: 12px;
    padding: 12px;
}

.diagnostic-page-application {
    display: flex;
    flex-direction: column;
    margin: 12px;
    align-items: center;
}

.diagnostic-details {
    display: flex;
    justify-content: space-between;
    width: 50%;
    display: flex;
    gap: 20%;
    align-items: flex-start;
    min-width: calc(100% - 88em);
    padding: 24px;
    border: 0.5px #DCDCDC solid;
    margin: 12px;
}

.details-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.details-column h5 {
    font-weight: 800;
}

.diagnostic-details .details-group h5 {
    font-weight: 800;
}

.details-group ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details-action {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 12px;
    margin: 12px;
}

.details-field {
    max-width: ;
    text-align: left;
}

.documents-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 0.5px #DCDCDC solid;
    width: 50%;
    padding: 12px;
}

.document-items-container {
    display: flex;
    gap: 12px;
    width: 100%;
    justify-content: center;
    margin: 24px auto;
}

.document-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    max-width: 20%;
    height: 120px;
    padding: 12px 12px 2px;
    background-color: #F5F5F5;
    cursor: pointer;
    border: 1px #F5F5DD solid;
}

.document-item:hover {
    transition: .5s;
    background-color: #A9A9A9;
}

</style>
