<template>
	<div class="diagnostic-portal">
		<div class="diagnostic-portal--header">
			<h1>Diagnostic Portal</h1>
			<div class="search-input">
				<div class="search-input-group">
					<!-- <div class="search-input-group--label">
						<p>Enter applicant name</p>
						<input
							v-model="selectedItem"
							type="text"
						>
					</div> -->
					<!-- <div class="submit">
						<button
							:disabled="!selectedItem"
							class="btn btn-primary"
							@click="searchApplicant"
						>Search Applicant</button>
					</div> -->
				</div>
			</div>
		</div>
		<div class="diagnostic-portal--body">
			<div class="diagnostic-application-list">
				<b-table
					striped
					hover
					:items="applicationData"
					:fields="tableFields"
				>
					<template #cell(link)="row">
						<b-button
							variant="info"
							@click="goToApplication(row.item.applicant_number)"
						>
							View
						</b-button>
					</template>
				</b-table>
				<div class="diagnostic-portal--app-pagination">
					<b-pagination
						v-model="currentPage"
						:per-page="sizePerRequest"
						:total-rows="Math.ceil(totalCount / sizePerRequest)"
					></b-pagination>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapActions } from 'vuex';

	export default {
		name: 'DiagnosticPortal',

		data() {
			return {
				applicationData: [],
				tableFields: [
					'applicant_number',
					'full_name',
					'date_applied',
					'risk_level',
					'link'
				],
				totalCount: 0,
				currentPage: 1,
				sizePerRequest: 10,
				selectedItem: null
			};
		},

		created() {
			this.fetchAllEmployeeApplications();
		},

		methods: {
			...mapActions('main', [
				'fetchEmployeeApplications',
				'getSpecificEmployeeApplication'
			]),

			async fetchAllEmployeeApplications() {
				let filters = {
					top: (this.currentPage - 1) * this.sizePerRequest
				};
				let response = await this.fetchEmployeeApplications(filters);
				if (response.status === 200) {
					let items = response.data.data;
					this.totalCount = response.data.count;

					for (let [index, item] of items.entries()) {
						this.applicationData.push({
							full_name:
								`${item.health_clearance.first_name} ${item.health_clearance.last_name}`,
							date_applied: Date(item.health_clearance.when),
							risk_level: item.risk_status_display,
							index: index,
							applicant_number: item.pk
						});
					}
				}
			},

			async searchApplicant() {
				if (!this.selectedItem)
					return;

				let response = await this.getSpecificEmployeeApplication(this.selectedItem);
				console.log(response);
			},

			goToApplication(pk) {
				this.$router.push({
					name: 'diagnostic-application',
					params: {
						applicant_id: pk
					}
				}).catch(() => {});
			}
		}
	}
</script>

<style>
.diagnostic-portal--header {
	padding: 24px;
}

.search-input {
	display: flex;
	justify-content: flex-end;
	padding: 12px;
}

.search-input-group--label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 12px;	
}

.search-input-group--label input {
	height: 30px;
}

.submit {
	display: flex;
	justify-content: flex-end;
	padding: 12px;
}

.diagnostic-portal--body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.diagnostic-application-list {
	width: 70%;
}

.diagnostic-portal--app-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
