<template>
  <div class="diagnostics-page">
    <h1>Diagnostics</h1>

    <b-form class="diagnostic-form">
      <b-row align-h="center">
        <b-col :xs="12" :md="6" :lg="6">
          <div class="search-section">
            <p class="text-left">
              Search by Application Number  <b-icon icon="exclamation-circle" title="Search Health Clearance or Special Permit"/>:
            </p>
            <b-input v-model="permit_number"></b-input>
            <div class="diagnostic-action">
              <b-button variant="success" :disabled="permit_number.length === 0" @click="searchPermit">
                Search
              </b-button>
              <b-button>Cancel</b-button>
            </div>
          </div>
          <div class="diagnostic-upload" v-if="permit.id">
            <b-row>
              <b-col xs="12" md="12" class="text-left">
                <label>Application Number:</label>
                <b-input v-model="permit.permit_number" readonly></b-input>
              </b-col>
              <b-col xs="12" md="6" class="text-left">
                <label>First Name:</label>
                <b-input v-model="permit.applicant.first_name" readonly></b-input>
              </b-col>
              <b-col xs="12" md="6" class="text-left">
                <label>Last Name:</label>
                <b-input v-model="permit.applicant.last_name" readonly></b-input>
              </b-col>
              <b-col xs="12" md="6" class="text-left">
                <label>Permit Type:</label>
                <b-input v-model="permit.permit_type" readonly></b-input>
              </b-col>
            </b-row>

            <h2 class="table-title">Regulatory Requirements</h2>
            <b-table
                striped
                hover
                sticky-header
                show-empty
                :items="regulatoryRequirements"
                :fields="regulatoryRequirementFields">
              <template #cell(action)="row">
                <div class="table-action">
                  <a v-if="regulatoryRequirements[row.index].file"
                     class="show-upload"
                     :href="regulatoryRequirements[row.index].file_data.file"
                     target="_blank">
                    Show
                  </a>
                  <span v-else class="show-upload"></span>
                  <b-form-file v-model="regulatoryRequirements[row.index].model"
                               :browse-text="regulatoryRequirements[row.index].file ? 'Change': 'Upload'"
                               simple
                               size="small"
                               @input="triggerUpload(row)">
                  </b-form-file>
                </div>
              </template>
            </b-table>
          </div>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {getPermitQry} from "@/services/permits.service";
import {getRegulatoryDocumentsQry, postFileQry} from "@/services/businesses.service";
import {jsonToFormData} from "@/helpers/common.helper";

export default {
  name: "index",
  data() {
    return {
      regulatoryRequirements: [],
      regulatoryRequirementsData: [],
      permit_number: "",
      permit: {
        applicant: {},
        id: null
      },
      regulatoryRequirementFields: [
        {
          key: "name",
          label: "Name",
          formatter: (value, key, item) => {
            return item.requirement.name
          }
        },
        {
          key: "action",
          label: "",
          tdClass: "requirement-action",
        },
      ],
    }
  },
  methods: {
    ...mapActions('app', ['setAlert']),
    setRequirements() {
      const permitExistingAttachments = this.permit.attachments.reduce((acc, cur) => {
        acc[cur.regulation_document] = cur;
        return acc;
      }, {})

      this.regulatoryRequirements = this.regulatoryRequirementsData.map(item => {
        const structItem = {
          loading: false,
          id: null,
          permit: this.permit.id,
          regulation_document: item.id,
          file: null,
          file_data: {},
          requirement: item,
          model: null,
        };
        const existingAttachment = permitExistingAttachments[item.id.toString()]
        if (existingAttachment) {
          Object.assign(structItem, {
            file: existingAttachment.file,
            file_data: existingAttachment.file_data,
            id: existingAttachment.id,
          })

        }
        return structItem;
      })
    },

    searchPermit() {
      this.resetData(this, 'permit');

      getPermitQry(this.permit_number, {"permit_type": "health-clearance"})
          .then(res => {
            this.permit = res.data
            this.setRequirements();
          })
          .catch(err => {
            const error = err.response;
            if (error.status === 404) {
              this.setAlert({type: "danger", "message": "Permit not found"})
            } else {
              this.setAlert({type: "danger", "message": "Unexpected Error, please try again later"})
            }
          })
    },
    triggerUpload(data) {
      const item = this.regulatoryRequirements[data.index];
      const attachment = jsonToFormData({file: item.model})
      const params = {permit: this.permit.id, regulation_document: item.regulation_document};

      postFileQry(attachment, params)
          .then(res => {
            const data = res.data;
            item.file = data.id;
            item.file_data = data;
            this.setAlert({message: "Successfully uploaded your data", type: "success"})
          }).catch(() => {
        this.setAlert({message: "Error uploading you data, please try again", type: "danger"})
      })
    },
  },
  created() {
    getRegulatoryDocumentsQry({permit_type: "health-clearance", "is_active": true})
        .then(res => {
          this.regulatoryRequirementsData = res.data.results;
        })
  }
}
</script>

<style lang="scss">
.diagnostics-page {
  padding: 20px;

  .requirement-action {
    width: 250px;

    .table-action {
      display: flex;
      align-items: center;

      .show-upload {
        width: 70px;
      }

      .custom-file-label {
        margin-left: 5px;
        width: 75px;

        &:after {
          width: 75px;
          text-align: center;
        }
      }
    }
  }

  .diagnostic-upload {
    margin-top: 20px;
  }

  .table-title {
    margin: 20px 0;
  }

  .diagnostic-form {
    margin-top: 30px;

    .search-section {
      max-width: 400px;
      margin: 0 auto;
    }

    .diagnostic-action {
      margin-top: 10px;

      button:first-of-type {
        margin-right: 10px;
      }
    }
  }
}

</style>
